#banner-top {
  background-repeat: no-repeat;
  background-position: center middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-color: #653171;
  background-image: url("../images/header-background.jpg");
  color: #DDE8EF;
  padding: 30px 0;
  text-align: center;
}
