/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


/** SLIDERS **/
rzslider span.pointer {
  background-color: transparent;
}

rzslider span.pointer:after {
  top: 8px;
  left: 8px;
  width: 16px;
  height: 16px;
}

rzslider span.bar {
  background: #0;
}

rzslider span.bubble {
  color: black;
}

/** OTHER **/

.greenhouse {
  padding: 2em;
  margin: 1em;
  border-radius: 0.5em;
}

.simulator {
  background: #aef5a7;
}

.remote {
  background: #d5f5a7;
}

.greenhouse-field {
  margin-top: 1em;
}

#greenhouse-pulse {
  text-align: right;
  font-size: 2em;
  margin-bottom: -.5em;
  margin-top: -.5em;
}

.greenhouse_light_icon {
  font-size: 2em;
  vertical-align: -.3em;
}

.greenhouse_light_icon.on {
  color: yellow;
}

.remote label {
  height: 3em;
}

.remote .greenhouse_light_icon {
  font-size: 4em;
  vertical-align: -0.9em;
  float: right;
}

.remote .temperature {
  font-family: monospace;
  font-size: 3em;
  float: right;
  margin-top: -.2em;
}


#add-greenhouse {
  text-align: center;
  background: lightgray;
}

#add-greenhouse:before {
  content: "+";
  font-size: 4em;
  font-weight: 900;
  display: block;
}

/** Blinking pulse (a bit hackish) **/

@keyframes blink {  
    0% { color: red; }
    30% { color: red; }
    100% { color: black; }
}

@-webkit-keyframes blink {
    0% { color: red; }
    30% { color: red; }
    100% { color: black; }
}

@keyframes blink2 {  
    0% { color: red; }
    30% { color: red; }
    100% { color: black; }
}

@-webkit-keyframes blink2 {
    0% { color: red; }
    30% { color: red; }
    100% { color: black; }
}

.blink {
    -webkit-animation: blink 0.5s linear ;
    -moz-animation: blink 0.5s linear ;
    animation: blink 0.5s linear ;
} 

.blink2 {
    -webkit-animation: blink2 0.5s linear ;
    -moz-animation: blink2 0.5s linear ;
    animation: blink2  0.5s linear ;
} 