{{ define "main" }}
<main class="main resources-page">
  <div class="well">
    <div class="container">
      <h1>
        Resources
      </h1>
      <div>
        <p class="lead">Below are some useful links to articles and other resources about Eclipse IoT Technologies.</p>
      </div>
    </div>
  </div>
  <section class="first">
    <div class="container">
      <div class="row">
        <div class="col-md-12 grid">
        {{ range .Paginator.Pages }}
        <div class="col-md-6 media-video" data-mh="my-group" style="margin-bottom:30px">
          <div class="media-body">
           <a href="{{ .Params.link }}" class="{{ .Params.link_class }}"></a>
            <h4 class="media-heading"  style="padding-top:20px;"><a href="{{ .Params.link }}">{{ .Title }}</a></h4>
            {{ .Content }}
          </div>
        </div>
        {{ end }}
        </div>
        <div class="col-md-12 ">
          {{ template "_internal/pagination.html" . }}
        </div>
      </div>
    </div>
  </section>
</main>
{{ end }}