{{ define "main" }}
  <main class="main">
    <div class="well">
      <div class="container">
        <h1>Projects</h1>
        <p class="lead">Eclipse IoT open source projects help you build IoT Devices, Gateways ("Smart Objects"), Cloud backends, and more. <br>
        Use the list below to find the project that's right for you.</p>
      </div>
    </div>
    <section style="background-image:none;" class="first row-fluid" id="projects">
      <div class="container" id="project-list">

        <div class="container-fluid col-md-6 col-md-offset-3" id="search-and-sort">
          <div class="row">
            <input type="text" class="col-md-6 form-control search center-block" placeholder="Start typing to filter projects…">
          </div>
          
          <div class="row text-center">
            <button class="btn btn-sm sort btn-info " data-sort="downloads">
              Sort by downloads
            </button>
            <button class="btn btn-sm sort btn-info" data-sort="name">
              Sort by name
            </button>
            <div style="margin-top: .4em;">
              <button class="btn btn-sm btn-warning btn-filter-project" data-toggle="button" id="btn-devices">Devices</button>
              <button class="btn btn-sm btn-warning btn-filter-project" data-toggle="button" id="btn-gateways">Gateways</button>
              <button class="btn btn-sm btn-warning btn-filter-project" data-toggle="button" id="btn-cloud">Cloud</button>          &nbsp;
              <button class="btn btn-sm btn-warning btn-filter-project" data-toggle="button" id="btn-standards">Standards</button>      &nbsp;
              <button class="btn btn-sm btn-warning btn-filter-project" data-toggle="button" id="btn-tools">Tools</button>
              <button class="btn btn-sm btn-warning btn-filter-project" data-toggle="button" id="btn-ontologies">Ontologies</button>
              <button class="btn btn-sm btn-warning btn-filter-project" data-toggle="button" id="btn-security">Security</button>
            </div>
          </div>
        </div>

        <ul class="list"></ul>

        <div class="loading col-md-12" id="update-project">
          Loading projects list...
          <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
          </div>
        </div>
        </div>
      </div>
    </section>
  </main>
{{ end }}

{{ define "footer-suffix" }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
  <script src="/js/projects.js"></script>
{{ end }}