{{ define "head-custom"}}
{{- partial "head_custom.html" . }}
<!-- Open Graph data -->
<!-- <meta property="og:type" content="article" />
<meta property="fb:admins" content="102596866881190" />
<link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lekton:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
<link href="stylesheet/theme.css" rel="stylesheet"> -->
{{ end }}

{{ define "footer-suffix" }}
<!-- JS is at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/custom.js"></script>
<script type="text/javascript">
  $.getJSON("https://spreadsheets.google.com/feeds/list/1e6PJ9ANsn0fAI-X1slITQfCy064s3xiaFy9EpbaUY9E/2/public/values?alt=json", function(data) {
       $('#number-of-teams').html(data.feed.entry[0]['title']['$t']);
   });
</script>
{{ end }}