footer {
    background-image: url(../images/footer-bg.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: $white;
    padding: 100px 0 50px;
    @media (max-width: $screen-sm-max) {
        padding-top: 50px;
        .container {
            padding-top: 40px;
        }
    }
    @media (min-width: $screen-md-max) {
        padding-top: 200px;
        .container {
            padding-bottom: 100px;
        }
    }
    nav {
        a {
            color: darken($white, 20%);
            text-transform: uppercase;
            font-size: 12px;
        }
    }
    p.copyright {
        color: #8b7193;
        font-size: 12px;
        text-align: right;
    }
    .social-facebook, .social-twitter, .social-youtube, .social-share {
        display: block;
        width: 36px;
        height: 35px;
        background-repeat: no-repeat;
        float: left;
        margin-right: 10px;
    }
    .social-facebook {
        background-image: url(../images/icon-facebook.png);
    }
    .social-twitter {
        background-image: url(../images/icon-twitter.png);
    }
    .social-youtube {
        background-image: url(../images/icon-youtube.png);
    }
    .social-share {
        background-image: url(../images/icon-share.png);
    }
}
