<div class="well">
	<div class="page-header">
		<h1>
			Live Eclipse IoT demonstrator
			<small>
				A greenhouse that reports its status and can be controlled remotely.
			</small>
		</h1>
	</div>

	<div class="lead">
		<p>
			The demonstration below features a greenhouse connected to iot.eclipse.org's public <a href="/sandbox.html">MQTT broker</a> via a Raspberry Pi gateway running <a href="https://eclipse.org/kura" target="_blank">Eclipse Kura</a>.
		</p>
		<p>
			The user interface is using MQTT over WebSockets for displaying sensors data available on the broker, as well as to send a command for switching the LED on/off.
		</p>

	</div>
</div>

<div class="row">

	<div class="span6 offset1">
		<ul class="thumbnails">
			<li class="span3">
				<div style="text-align: center">
					<embed src="img/noun_project_2023.svg" type="image/svg+xml"/>
					<h1>
						{{temperature.value}}
						<small>°C</small>
					</h1>
					<p>
						<small>{{temperature.timestamp}}</small>
					</p>
				</div>
			</li>
			<li class="span3">
				<div style="text-align: center">
					<img src="img/noun_project_122_{{light.value}}.svg" type="image/svg+xml"/>
					<h1>
						<button class="btn btn-large" ng-click="switchLight();" onclick="_gaq.push(['_trackPageview', '/demo/switchLight']);"> <strong>TOGGLE</strong>
						</button>
					</h1>
					<p>
						<small>&nbsp;</small>
					</p>
				</div>
			</li>
			<li class="span6">
				<div style="text-align: center">
					<p>
						<a twitter data-lang="en" data-count='horizontal' data-url='http://iot.eclipse.org/demo' data-via='EclipseIoT' data-size="large" data-text="Check out this cool #IoT live demo of a connected greenhouse! #mqtt #kura" ></a>
					</p>
				</div>
			</li>
		</ul>
	</div>
	<div class="span4">
		<ul class="thumbnails">
			<li>
				<div class="thumbnail" style="text-align: center">
					<img src="{{webcam.src}}" width="320" height="240"/>
					<h1>Live stream</h1>
					<p>
						<small>{{webcam.timestamp}}</small>
					</p>
				</div>
			</li>
		</ul>
	</div>

<!-- 	<div class="span6">
		<div class="well">
			<p class="lead">Same demo, improved by other open-source projects</p>
			<table class="table">
				<tr>
					<td style="font-size:4em; width:1em;"> <i class="icon-certificate"></i>
					</td>
					<td>Coming soon!</td>
				</tr>
 				<tr>
					<td style="font-size:4em; width:1em;"> <i class="icon-certificate"></i>
					</td>
					<td>Demo2</td>
				</tr>
				<tr>
					<td style="font-size:4em; width:1em;">
						<i class="icon-certificate"></i>
					</td>
					<td>Demo3</td>
				</tr> 
			</table>
		</div>
	</div>

	<div class="span6">
		<div class="well">
			<p class="lead">Same demo, running on commercial M2M platforms</p>
			<table class="table">
				<tr>
					<td style="font-size:4em; width:1em;">
						<small>
							<a href="http://airvantage.github.io/devkit/app" target="_blank">
								<img align="left" width="120" src="http://eclipse.org/membership/scripts/get_image.php?id=843&amp;size=small" style="padding:5px;" alt="Sierra Wireless"></a>
						</small>
					</td>
					<td><a href="http://airvantage.github.io/devkit/app" target="_blank">Example</a> running on AirVantage M2M Cloud Platform. You can also order an open developer kit from <a href="http://airvantage.github.io/devkit" target="_blank">http://airvantage.github.io/devkit</a></td>
				</tr>
			</table>
		</div>
	</div> -->

</div>
