{{ define "main" }}
<style>
  .panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";    /* adjust as needed, taken from bootstrap.css */
  }
  .panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  margin-right: .2em;
  font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
  content: "\e114";    /* adjust as needed, taken from bootstrap.css */
  float: left;        /* adjust as needed */
  color: grey;         /* adjust as needed */
  }
</style>
<main class="main">
  <div class="well">
    <div class="container">
      <h1>IoT Standards</h1>
      <div class="lead">
        <p>Eclipse IoT supports open standards for the Internet of Things. </p>
        <p>We provide open source implementations for IoT protocols such as 
          <a href="#coap" data-toggle="collapse" aria-controls="coap">CoAP</a>,
          <a href="#onem2m" data-toggle="collapse" aria-controls="onem2m">oneM2M</a>,
          <a href="#lwm2m" data-toggle="collapse" aria-controls="lwm2m">LWM2M</a>,
          <a href="#mqtt"  data-toggle="collapse" aria-controls="mqtt">MQTT</a>,
          <a href="#opc-ua"  data-toggle="collapse" aria-controls="opc-ua">OPC-UA</a>, and more.
        </p>
      </div>
    </div>
  </div>
  <section class="first" style="padding-bottom: 150px;">
    <div class="container">
      <h1 id="protocols-vision" class="purple">Vision</h1>
      <div class="row">
        <div class="col-md-6">
          <p>Building interoperable IoT solutions is a real challenge. From sensors and actuators in the field to backend systems, there are many aspects of an end-to-end solutions where it is important to rely on standards:</p>
          <ul>
            <li>Protocols used to implement the device-to-device or device-to-server communications,</li>
            <li>Device Management protocols to allow remote control of IoT devices and gateways,</li>
            <li>Gateways and Servers interfaces.</li>
          </ul>
          </p>
          <p>
            While Open Standards are key, we believe that it is also important to make available open-source implementations of such standards, to encourage adoption of such standards both by IoT developers and the IoT industry at large.
          </p>
        </div>
        <p class="col-md-6">
          <img src="/assets/images/open-standards.png" class="img-responsive" />
        </p>
        <div class="col-md-12">
          <h3 class="purple">Open standard implementations</h3>
          {{ range where .Data.Pages "Section" "standards" }}
          <a href="#{{ .Title }}" data-toggle="collapse" aria-controls="{{ .Title }}"><button class="btn btn-info" type="button">{{ .Description }}</button></a>
          {{ end }}
          <br/>
        </div>
      </div>
    </div>
  </section>
  <section class="second">
    <div class="container">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {{ range where .Data.Pages "Section" "standards" }}
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading{{ .Title }}">
            <h2 class="panel-title" style="font-size: 30px;" class="purple">
              <a role="button" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#{{ .Title }}" aria-expanded="true" aria-controls="{{ .Title }}">
              {{ .Description }}
              </a>
            </h2>
          </div>
          <div id="{{ .Title }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ .Title }}">
            <div class="panel-body">
              {{ .Content }}
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
</main>
{{ end }}
{{ define "footer-suffix" }}
<script>
  $(function () {
  $('#accordion').on('shown.bs.collapse', function (e) {
      var offset = $('.panel.panel-default > .panel-collapse.in').offset();
      $('.panel.panel-default > .panel-collapse.in').siblings('.panel-heading').find('.accordion-toggle').removeClass('collapsed');
      if(offset) {
          $('html,body').animate({
              scrollTop: $('.panel-title a').offset().top + 0
          }, 200); 
      }
  }); 
  });
  
</script>
{{ end }}