.view {
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
}
.view .mask,.view .content {
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #FFFFFF !important;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 0px;
   background: rgba(0, 0, 0, 0.8);
   margin: 0px 0 0 0;
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}

.mask ul{
   display: inline-block;
   justify-content: center;
   margin-top: 135px;
}

.mask ul li{
   float: left;
}

.mask ul li a{
   border-radius: 12px;
  padding: 7px 13px;
  margin: 3px;
  background: none;
  transition: all 0.4s;
}

.mask ul li a i{
   color: #FFFFFF;
   font-size: 25px;
}

.mask ul li a:hover{
   transition: all 0.4s;
}
