.highlight-unit {
    background-color: #F5F5F5;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 30px;
}

.home-box .lead {
	width: 350px !important;
}

/* home page: remove border-top's between members logos */
tr + tr td {
	border-top: none !important;
}

#wg-members.table td {
	vertical-align: middle;
}


.carousel-inner img {
  margin: auto;
}
