{{ define "main" }}
<main class="main testbeds-single-page">
  <div class="well" style="background-image: url(/assets/images/testbeds/{{.File.TranslationBaseName}}-banner.jpg); background-blend-mode: soft-light; background-size: cover;">
    <div class="container xpurple">
      <h2>
      <a href="/testbeds" style="color: white; ">Eclipse Open IoT Testbeds</a>
      <h2>
      <h1>» {{ .Title }}</h1>
      <p class="lead">
        {{ .Description | safeHTML }}
      </p>
    </div>
  </div>
  {{ if ne .File.TranslationBaseName "propose-a-new-testbed" }}
  <section class="row-fluid" style="padding-bottom: 0px;">
    <div class="container">
      <div class="row">
        {{ if .Params.sub_description }}
        <div class="jumbotron col-md-12" style="margin-top: 40px; margin-bottom: 0px; padding-top: 30px; padding-bottom: 10px;">
          <div class="row">
            <div class="col-md-8">
              <p>{{ .Params.sub_description | safeHTML }}</p>
            </div>
            <div class="col-md-4 text-center">
              <a href="{{ .Params.demo_link }}" target="_blank">
              {{/* look for a .webp video as the "demo" thumbnail, otherwise fallback to .png */}}
              {{ $directory := "static/assets/images/testbeds/" }}
              {{ $filename := .File.TranslationBaseName | printf "%s-demo.webp" }}
              {{ if (where (readDir $directory) "Name" $filename) }}
              <img src="/assets/images/testbeds/{{.File.TranslationBaseName}}-demo.webp" class="img-responsive">
              {{ else }}
              <img src="/assets/images/testbeds/{{.File.TranslationBaseName}}-demo.png" class="img-responsive">
              {{ end }}
              </a>
              <p><a class="btn btn-primary btn-lg" href="{{ .Params.demo_link }}" target="_blank" role="button" style="margin-top: .5em;">Demo</a>
                &nbsp;
                <a class="btn btn-primary btn-lg" href="{{ .Params.source_code_link }}" target="_blank" role="button" style="margin-top: .5em;">Source Code</a>
              </p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
  <section class="second row-fluid" style="padding-bottom: 70px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{ if .Params.challenge }}
          <h1 class="purple">The Challenge</h1>
          <p>{{ .Params.challenge | safeHTML }}</p>
          {{ end }}
          {{ if and (ne .File.TranslationBaseName "propose-a-new-testbed") (.Content) }}
          <h1 class="purple">Proposed Solution</h1>
          {{ end }}
          {{ if .Content }}
          <p>{{ .Content | safeHTML }}</p>
          {{ end }}
          {{ if .Params.benefits }}
          <h1 class="purple">Benefits</h1>
          <ul>
            {{ range .Params.benefits }}
            <li style="margin-bottom: 1em;"><span style="font-weight: 900;">{{ .title }}</span>: {{ .content }}</li>
            {{ end }}
          </ul>
          {{ end }}
          {{ if .Params.organizations }}
          <h1 class="purple">Participating Organizations</h1>
          {{ range .Params.organizations }}
          <div class="row">
            <div class="col-md-3 col-xs-4" style="padding:2px 30px; ">
              <div style="min-height: 120px; line-height: 120px;">
                <img src="/assets/images/members/logo-{{ .name }}.png" class="img-responsive" alt="logo-{{ .name }}" style="max-height:110px; display:inline-block; vertical-align:middle;">
              </div>
            </div>
            <div class="col-md-9 col-xs-8" style="min-height: 120px; display: flex; flex-direction: column; justify-content: center;">
              <p class="vcenter">{{ .role | safeHTML }}</p>
            </div>
          </div>
          {{ end }}
          {{ end }}
          <br><br><br>
        </div>
      </div>
    </div>
  </section>
  <section class="third row-fluid">
    <div class="container">
    <div class="row">
      <div class="col-md-12" style="margin-top: -3em;">
        {{ if .Params.learn_more }}
        <h1 class="purple">Learn More</h1>
        <ul>
          {{ range .Params.learn_more }}
          <li><a href="{{ .link }}" target="_blank">{{ .name }}</a></li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
  </section>
</main>
{{ end }}