html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
header {
    &.homepage {
        background-image: url(../images/header-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom center;
        padding-bottom: 50px;
    }
    @include gradient-directional($bg-gradient-light, $bg-gradient-dark, -45deg);
    padding-bottom: 2px;
    nav {
        padding-top: 20px;
        ul.navbar-nav {
            margin-top: 40px;
            text-transform: uppercase;
            text-align: center;
            li {
                position: relative;
                a {
                    color: $white;
                    padding: 10px 20px;
                    @media (max-width: $screen-md-max) {
                        padding: 10px 7px;
                        font-size: 0.88em;
                    }
                }
                ul.dropdown-menu {
                    background-color: rgba(0, 0, 0, 0.8);
                    .homepage & {
                        background-color: rgba(0, 0, 0, 0.8);
                    }
                    border: 0;
                    border-top: 5px solid $blue;
                    border-radius: 0;
                    padding: 0;
                    margin-top: 10px;
                    left: -55px;
                    li {
                        text-transform: none;
                        a {
                            padding: 8px 10px 8px 15px;
                            @include transition;
                            &:hover {
                                color: $white;
                                background-color: rgba(0, 0, 0, 0.4);
                            }
                        }
                    }
                    &:after {
                        @include triangle-up($blue);
                        left: 50%;
                        margin-left: -10px;
                    }
                }
            }
        }
    }
    section {
        color: $white;
        margin-top: 50px;
        h1 {
            font-size: 6rem;
            font-weight: bold;
            margin-bottom: 20px;
        }
        p {
            font-size: 2.5rem;
            line-height: 1.4em;
        }
        @media (max-width: $screen-xs-max) {
            h1 {
                font-size: 4.5rem;
                font-weight: bold;
                margin-bottom: 20px;
            }
            p {
                font-size: 2.2rem;
                line-height: 1.4em;
            }
        }
    }
    .header-divider {
        text-align: center;
        margin-bottom: -75px;
    }
}
