.navbar-brand > img {
    @media (max-width: $screen-md-max) {
        height: 60px;
        margin-top: -14px;
    }
}

.vcenter {
      display: table-cell;
      vertical-align: middle;
}


.dropdown-menu {
    min-width: 215px;
}

main.main {
    p, li {
       // font-size: 16px;
        color: $gray;
    }
    .line-divider-left {
        padding-left: 3em;
    }
    .well {
        background-color: $blue;
        background-image: url(../images/well-bg-tl.png), url(../images/well-bg-br.png);
        background-position: left top, right bottom;
        background-repeat: no-repeat;
        border-radius: 0px !important;
        color: $white !important;
        border: 0px;
        margin-bottom: 0px;
        h1 {
            font-size: 5rem;
            font-weight: 700;
        }
        p {
            font-size: 2.4rem;
            color: $white !important;
        }
    }
    .subsection-header {
        margin-bottom: 20px;
        h2 {
            color: $white;
            display: block;
            height: 50px;
            width: 100%;
            background-size: 100%;
            padding: 15px;
            font-size: 21px;
            margin-bottom: 26px;

            span {
              width: 55px;
              height: 50px;
              background-color: $blue;
              position: absolute;
              top: 25px;
              @media (max-width: $screen-sm-max) {
                top: 0px;
              }
              background-size: contain;
              right: 15px;
            }

        }
    }
    section.first {
        background-color: $white;
        background-image: url(../images/section-first-divider.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom center;
        padding: 50px 0 125px;
        .first-col, .second-col {
            //margin-top:15px;
            h2 {
                font-size: 22px;
                font-weight: 600;
                color: $black !important;
            }
            p {
                //              font-size: 13px;
                text-align: justify;
                font-weight: 400;
            }
            span {
                width: 100%;
                display: block;
                font-size: 4.2em;
                text-align: right;
                @media (max-width: $screen-xs-max) {
                    font-size: 4em;
                    margin-top: 20px;
                    margin-left: 0px;
                }
                color: $blue;
                margin-top: 12px;
                margin-left: 4px;
            }
            .row:hover {
                background-color: rgba($blue, .05);
                @include box-shadow(0px 0px 5px lighten($blue, 50%));
            }
        }
        .third-col {
            h1 {
                margin-top: -20px;
                @media (max-width: $screen-md-max) {
                    margin-top: 30px;
                }
            }
            p {
                font-size: 1.5em;
            }
        }
    }
    section.second {
        background-image: url(../images/section-second-divider.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom center;
        padding: 20px 0 75px;
        .community {
            p {
                font-size: 1.5em;
            }
        }
        .latest-news {
            h2 {
                background-image: url(../images/heading-latest_news.png);
                span {
                    background-image: url(../images/heading-latest_news-icon.png);
                }
            }
            .latest-news-item {
            
                margin-left:1em;

                // border-bottom: 1px solid darken($white, 20%);
                padding-bottom: 0;
                //  margin-bottom: 20px;
                h3 {
                    margin-bottom:0.3em;
                    font-size: 18px;
                }
                p {
                    font-size: 14px;
                    line-height: 1.3em;
                }
                p.date {
                    color: $green;
                    font-size: 10px;
                    line-height: 24px;
                    margin-right: 1.4em;
                    float: right;
                    //display: none;
                }
            }
            .latest-news-item:last-of-type {
                // margin-bottom: 35px;
                // border-bottom: 0px;
            }
        }
        .featured-articles {
            h2 {
                background-image: url(../images/heading-featured.png);
                span {
                    background-image: url(../images/heading-featured-icon.png);
                }
            }
            .featured-articles-item {
                background-image: url(../images/open-iot-bg.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                color: $white;
                text-align: center;
                margin-bottom: 30px;
                h3 {
                    font-size: 18px;
                    color: $white;
                    padding: 40px 0;
                    margin: 0;
                }
                // p {
                //     background-color: $blue;
                //     padding: 10px 0;
                //     font-size: 1em;
                //     color: white;
                //     line-height: 1.2;
                //     position: relative;
                //     &:after {
                //         @include triangle-bottomright($blue);
                //     }
                // }
            }
        }
    }
    section.third {
        background-color: $white;
        .logos {
            text-align: center;
        }
        .btn {
            margin-top: 2em;
        }
        .working-group {
            p {
                font-size: 1.5em;
            }
        }
    }

    #resources-list {
        h2 {
            font-size: 22px;
            font-weight: 600;
            color: $black !important;
        }
        p {
            text-align: justify;
            font-weight: 400;
        }
        span {
            width: 100%;
            display: block;
            font-size: 4.2em;
            text-align: right;
            @media (max-width: $screen-xs-max) {
                font-size: 4em;
                margin-top: 20px;
                margin-left: 0px;
            }
            color: $blue;
            margin-top: 12px;
            margin-left: 4px;
        }
}

    /* Item box: Layout item */
    
    .itembox {
        margin-bottom: 20px;
        padding: 0px 20px;
        //text-align: center;
        position: relative;
        cursor: pointer;
        p {
            color: $gray !important;
        }
        a:link,
        a:visited {
            display: block;
            position: absolute;
            bottom: 0;
            background: $blue;
            color: #fff;
            text-align: center;
            padding: 8px 20px;
            margin-bottom: 10px;
        }
        a:hover {
            background: $purple;
        }
        .readmore {
            left: 20px;
        }
        .download {
            right: 20px;
        }
    }

    .itembox:hover {
        background: lighten($gray, 80%);
    }


    /* Project list: projects.html */
    .btn-filter-project.active {
    background-color: darken($btn-warning-bg, 25%) !important;
        border-color: darken($btn-warning-bg, 20%) !important;
    }

    .btn-filter-project:hover, .btn-filter-project:focus {
        background: $btn-warning-bg;
    }


    #project-list {
        
        #search-and-sort {
            margin-bottom: 2em;
            margin-top: -2em;
        }

        .loading {
            min-height: 400px;
            text-align: center;
            font-size: 2em;
            color: $purple;
        }

        input {
                border-radius: 30px 30px 30px 30px;
        }

        .row {
            margin-top: .5em;
            margin-bottom: .5em;
        }

        .sort {
//            background: $blue;
        }

        .sort:after {
          content:" —";
          color: transparentize($gray,0.3);
        }

        .sort.desc:after {
          content:"▼︎";
          color: $black;
        }
        .sort.asc:after {
          content:"▲";
          color: $black;
        }

        h1 {
            border-bottom: 1px dotted $blue;
        }

        .media-left {
            max-width: 200px;
            min-width: 200px;
        }

        .media-object {
            padding-left: 4.2em; padding-right: 2em;
            margin: auto;
            max-height: 140px;
        }

        ul {
            list-style-type: none;

            li {
                h4 {
                    font-weight: 900;
                    // text-decoration: underline;
                    margin-bottom: .4em;
                    display: inline;
                    margin-right: .3em;
                }

                .labels {
                    padding-bottom: .2em;

                    .label {
                        vertical-align: 2px;
                    }
                }
                
                .media-body {
                    padding-left: 1em;
                }

                .description {
                    //margin-left: 1em;
                    //margin-right: -1em;
                    text-align: justify;
                    border-right: 1px solid transparentize($black,0.9);
                }

                .details {
                    font-size: 0.9em;
                }

                a.padding, .downloadUrl {
                    margin-top: 1em; 
                    padding: 3px 8px;
                }

                .details * {
                        margin-bottom: .2em;
                }

                .logo {
                    opacity: 1.0;
                }

                .media:hover {
                    .logo {
                        opacity: 1.0;
                    }
                }

                font-size: 0.9em;

                #logo-container {
                    max-width: 200px;
                    max-height: 140px;
                }

                .has-placeholder-logo {
                    padding: 0em;
                    margin-left: 1.7em;
                }

                hr {
                    margin-top: 1.2em;
                    margin-bottom: 2em;
                    margin-left: 2em;
                    margin-right: 2em;
                    border: 2px dashed transparentize($black,0.9);
                }

            }

        }

    }





    // working group page
    .mb-logo {
        padding-top: 40px;
        padding-left: 30px;
    }

    .members-info {
        margin-bottom: 3em;
        border-bottom: 1px dotted $blue;
        padding-bottom: 40px;
    }


    // events page
    .upcoming-events {
        padding-left: 0.5em;
        
        h2 {
            margin-left: -0.5em;
            background-image: url(../images/heading-upcoming_events.png);
            span {
                background-image: url(../images/heading-upcoming_events-icon.png);
            }
        }

        #title-subscribe-newsletter, #title-upcoming-events {
            font-size: 20px;
            font-weight: 500;
            //border-bottom: 2px dotted $purple;
        }
    }
    
    .past {
        opacity: 0.5;
    }

    .upcoming-events-item {
        margin-left: 1.2em;
        margin-top: -2px;
        margin-bottom: -2px;
        display:list-item;
        h3 {
            font-size: 16px;
            margin-top: 0px;
            margin-bottom: 0px;
            span.name {
                font-weight: 600;
            }
            span.date {
                float: right;
                margin-right: 2em;
                font-size: 11px;
                &:before {
                    content: '/ ';
                } 
                &:after {
                    content: ' /';
                } 
            }
        }
        p {
            // text-align: center;
            font-size: 14px;
            font-style: italic;
            margin-top: -6px;
            // &:before {
            //     content: '[ ';
            // }
        }

    }

    // .upcoming-events-item {
    //     text-align: center;
    //     color: $white;
    //     margin-bottom: 30px;
    //     h3 {
    //         background-image: url(../images/upcoming-events-bg.png);
    //         background-size: 100%;
    //         padding: 15px 0;
    //         font-size: 18px;
    //         font-weight: bold;
    //         margin: 0;
    //         span.name {
    //                 display: block;
    //                 min-height:2.7em;
    //                 // margin-bottom:8px;
    //             }
    //         span.date {
    //             font-weight: normal;
    //             font-size: 12px;
    //         }
    //     }
    //     h3:hover {
    //         background: url(../images/upcoming-events-bg_hover.png);
    //         background-size: 100%;
    //     }
    //     p {
    //         background-color: $blue;
    //         padding: 8px 0;
    //         font-size: 12px;
    //         line-height: 1.2;
    //         position: relative;
    //         color: $white;
    //         &:after {
    //             @include triangle-bottomright($blue);
    //         }
    //     }
    // }
}


// getting started page
.videos {
    h2 {
        background-image: url(../images/heading-featured.png);
        span {
            background-image: url(../images/heading-videos-icon.png);
        }
    }
}
.presentations {
    h2 {
        background-image: url(../images/heading-featured.png);
        span {
            background-image: url(../images/heading-presentations-icon.png);
        }
    }
}
.tutorials {
    .featured-tutorial-item {
        background-image: url(../images/open-iot-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        color: $white;
        text-align: center;
        margin-bottom: 30px;
        h3 {
            font-size: 18px;
            color: $white;
            padding: 40px 0;
            margin: 0;
        }
    }
}

.news-page {
    .grid-item {
         margin-bottom:20px; 
         padding-left:0; 
         padding-right:30px; 
         margin-left:-20px;

        .row {
            margin-left: 0em; 
            margin-right:0em; 
            padding: 1.2em !important; 
            background:transparentize($green,0.9); 
            border-radius:1.5em;

        }

    }
}

.resources-page {
    .grid-item {
         margin-bottom:20px; 
         padding-left:0; 
         padding-right:30px; 
         margin-left:-20px;

         .oembed {
        //    background: red;
         }

        .row {
            margin-left: 0em; 
            margin-right:0em; 
            padding: 1.2em !important; 
            background:transparentize($green,0.9); 
            border-radius:1.5em;

        }

    }
}
 
// hw-catalog page 
.hardware-page {
    section.first {
       background-image:  none !important;
   }
}

#hw-products {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: white;
}

#hw-intro {
    padding-left:2em; 
    font-size:1.5em;
    line-height: 1.5em;
    color: $gray;

    img {
        max-height: 180px;
    }
}




.product {
    border-right: solid lighten($gray,60%) 1px;
    margin-bottom: 32px;


    .product_img {
        padding-bottom: 1em;

        a:hover, a:visited, a:link, a:active
        {
            text-decoration: none !important;
            color: $gray;
        }

        .zoom {
            position: relative;
            width: 250px;
            margin-top: -250px;
            margin-bottom: 250px - 55px;
            visibility: hidden;
            opacity: 0.5;
            text-align: right;
            padding-right: 16px;
            padding-top: 8px;

            font-size: 24px;
        }

        .member_logo {
            position: relative;
            width: 250px;
            background-repeat: no-repeat;
            background-position: right 10px bottom;
            background-size: contain;
            height: 32px;
            margin-top: -38px;
            margin-bottom: 16px;

            &.eurotech {
                background-image: url(/assets/images/members/logo-eurotech.png);
            }

            &.sierra {
                background-image: url(/assets/images/members/logo-sierra.png);
            }

        }
    }

    .product_name {
        font-size: 1.2em;
        font-weight: 700;
    }

    .product_desc {
        text-align: justify; 
    }

    .getting-started {
        margin-top: 1em;
        margin-bottom: 1em;
        padding-top: .5em;

        border-top: solid lighten($gray,60%) 1px;

        font-weight: 700;
    }

    .product_compat_list {
        font-weight: 700;

        ul {
            padding-left:0px;
            font-weight: normal;

            li {
                //background-color: red; width: 64px;
                display: inline-block;
                list-style: none;
                text-indent: -1000em;
                height: 32px; 
                margin: 4px 8px 12px 4px;

                background-repeat: no-repeat;
                background-size: contain;

                &.californium {
                    background-image: url(/assets/images/projects/logo-californium.png);
                    width: 32px;
                }

                &.eclipsescada {
                    background-image: url(/assets/images/projects/logo-eclipsescada.png);
                    width: 254px * 32/48;
                }

                &.kura {
                    background-image: url(/assets/images/projects/logo-kura.png);
                    width: 161px * 32/48;
                }

                &.mosquitto {
                    background-image: url(/assets/images/projects/logo-mosquitto.png);
                    width: 70px * 32/48;
                }

                &.smarthome {
                    background-image: url(/assets/images/projects/logo-smarthome.png);
                    width: 161px * 32/48;
                }

                &.om2m {
                    background-image: url(/assets/images/projects/logo-om2m.png);
                    width: 158px * 32/48;
                }

                &.paho {
                    background-image: url(/assets/images/projects/logo-paho.png);
                    width: 154px * 32/48;
                }

                &.smarthome {
                    background-image: url(/assets/images/projects/logo-smarthome.png);
                    width: 263px * 32/48;
                }

                &.concierge {
                    background-image: url(/assets/images/projects/logo-concierge.png);
                    width: 145px * 32/48;
                }



            }
        }
    }

    .product_buyit {
        margin-top: 2em;
    }

}


.testbeds-page {
    .testbed-thumbnail {
        a {
           color: white;
        }

        .testbed-thumbnail-box {
            border-radius: 2em;
            min-height: 12em;
            text-align: center;
            line-height: 10em;

            background: darken($blue, 20%);
            &:hover {
                background: darken($blue, 30%);
            } 

            &#propose-a-new-testbed {
                background: lighten($blue, 15%);
                &:hover {
                    background: lighten($blue, 5%);
                } 
            }

            h3 {
                display: inline-block;
                vertical-align: middle;
                padding-top: 0.5em;
                font-size: 32px;
                //font-weight: 500;
                font-variant: small-caps;
            }
        }
    }
}


.testbeds-single-page {
    .well {
        background-color: darken($blue, 20%) !important;
    }

    h1 {
        margin-top: 1.2em;
        margin-bottom: .5em;
    }
}

