// Text Colours
.green{color:$green;}
.blue{color:$blue;}
.white{color:$white;}
.black{color:$black;}
.purple{color:$purple;}


// Floats
.right{float:right;}
.left{float:left;}

a {
  &:hover,
  &:focus {
  	text-decoration: none;
  }
}

a.btn{
	text-transform: uppercase;
	padding:10px 40px;
	font-size: 12px;
}
a.btn.btn-primary{
	background-color:transparent;
	border-color:$blue;
	color:$black;
	@include transition;
	&:hover{
		background-color:$blue;
		color:$white;
	}
}

.btn.btn-secondary{
  background-color:$purple;
  border-color:$purple;
  color:$white;
  @include transition;
  &:hover{
    background-color:darken($purple, 20%);
    color:$white;
  }
}

.line-divider-left{
//	border-left:1px solid darken($white, 20%);
}

.line-divider-right{
	border-right:1px solid darken($white, 20%);
}

.align-center{
	text-align:center;
}

// fix menu bar on small screens. Hack!?
header nav ul.navbar-nav li ul.dropdown-menu:after {
	@media (max-width: 767px) {
		top:35px !important;
	}
}

.dropdown-header {
  padding: 3px 5px !important;
  color:$green !important;
}