<!-- <p>There are currently {{greenhouses.length}} active greenhouses in your simulation</p> -->
<div class="container">
	<ul class="row" style="list-style:none; padding-left:0;">
		<li ng-repeat="greenhouse in greenhouse_simulators" class="col-md-4">
			<div class="greenhouse simulator">

				<div class="greenhouse-field" id="greenhouse-pulse">
					<span class="glyphicon glyphicon-cloud-upload {{greenhouse.pulse}}"></span>
				</div>

				<div class="greenhouse-field" id="greenhouse-name">
					<label for="name_{{$index+1}}">Name: {{ simulatorName }}</label>
					<input ng-if="multi" id="name_{{$index+1}}" type="text" class="form-control" ng-model="greenhouse.name" />
				</div>
				
				<div class="greenhouse-field" id="greenhouse-temperature">
					<label for="temperature_{{$index+1}}">Temperature:</label>
					<rzslider
					id="temperature_{{$index+1}}"
					rz-slider-floor="20"
					rz-slider-ceil="30"
					rz-slider-step="0.25"
					rz-slider-precision="2"
					rz-slider-model="greenhouse.temperature"></rzslider>
				</div>
				<div class="greenhouse-field" id="greenhouse-refreshInterval">
					<label for="refreshInterval{{$index+1}}">Update interval (in sec):</label>
					<rzslider
					id="refreshInterval_{{$index+1}}"
					rz-slider-floor="0.2"
					rz-slider-ceil="10.0"
					rz-slider-step="0.2"
					rz-slider-precision="1"
					rz-slider-model="greenhouse.refreshInterval"></rzslider>
				</div>

				<div class="greenhouse-field" id="greenhouse-light">
					<label for="light_{{$index+1}}">Light state:</label>
					<span id="light_{{$index+1}}" class="glyphicon icon-lightbulb-1 greenhouse_light_icon {{greenhouse.lightState}}"></span>
				</div>
			</div>
		</li>

		<li ng-repeat="greenhouse in greenhouse_remotes" class="col-md-4">
			<div class="greenhouse remote">
				<div class="greenhouse-field" id="greenhouse-name">
					<label for="name_{{$index+1}}">Name: {{ remoteName }}</label>
					<input ng-if="multi" id="name_{{$index+1}}" type="text" class="form-control" ng-model="greenhouse.name" />
				</div>

				<div class="greenhouse-field" id="greenhouse-temperature">
					<label for="temperature_{{$index+1}}">Temperature:</label>
					<div ng-bind="greenhouse.temperature" class="temperature {{greenhouse.pulse}}" />
				</div>

				<div class="greenhouse-field" id="greenhouse-light">
					<label for="light_{{$index+1}}">Light state:</label>
					<span id="light_{{$index+1}}" class="glyphicon icon-lightbulb-1 greenhouse_light_icon {{greenhouse.lightState}}" ng-click="greenhouse.toggleLight()"></span>
				</div>

				<a twitter data-lang="en" data-count='horizontal' data-url='http://iot.eclipse.org/java' data-via='eclipseiot' data-size="large" data-text="Cool greenhouse demo powered by the Eclipse IoT stack for Java on booth #5615. Check it out! #JavaOne" ></a>

			</div>


		</li>

		<li class="col-md-4" ng-if="multi">
			<div ng-click="addGreenhouseSimulator()" class="greenhouse" id="add-greenhouse">Add a Greenhouse Simulator</div>
		</li>

		<li class="col-md-4" ng-if="multi">
			<div ng-click="addGreenhouseRemote()" class="greenhouse" id="add-greenhouse">Add a Greenhouse Remote</div>
		</li>

	</ul>
</div>