{{#events}}
  <div class="timeline-item">
    <p class="margin-bottom-0">
    {{#infoLink}}
      <a href="{{infoLink}}">{{ title }}</a>
    {{/infoLink}}
    {{^infoLink}}
      {{ title }}
    {{/infoLink}}
    </p>
    <p class="timeline-date">{{ date }}</p>
  </div>
{{/events}}
