{{#news}}
<div class="news-item">
  <h4 class="news-heading">
    <a href="{{ link }}" class="media media-link">
      {{ title }}
    </a>
  </h4>
  <p class="news-date">{{ date }}</p>
  <p>{{ body }}</p>
</div>
{{/news}}
