{{ define "main" }}
  {{ .Content }}
  {{ range where .Site.Pages "Section" .Section }}
    {{ range .Sections }}
      {{ if eq .Title "Resources" }}
        {{ range sort .Pages ".Params.weight" }}
          {{ if or (eq .Title "Videos") (eq .Title "Articles") }}
            <div class="resources">
              <h2>{{.Title}}</h2>
              <div class="row">
                {{ range first 3 (sort .Pages ".Params.date" "desc") }}
                  <div class="col-sm-8 col-xs-24 matchheight-item">
                    {{ .Render "summary"}}
                  </div>
                {{ end }}
              </div>
              <p class="text-right resources-more"><a href="{{.Permalink }}">View More</a></p>
            </div>
            {{ end }}
            {{ if eq .Title "IoT Surveys" }}
            <div id="all-resources"></div>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}