<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>iot.eclipse.org &mdash; White Paper: {{ .Title }}</title>
  <meta name="description" content="The Eclipse IoT White Papers are great resources for anyone looking at understanding how open source helps build scalable IoT solutions.">
  <meta name="author" content="Eclipse.org">
  <link rel="author" href="humans.txt" />
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
  <!-- Le styles -->
  <link href="/assets/css/bootstrap.css" rel="stylesheet">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5WLCZXC');</script>
  <!-- End Google Tag Manager -->
  
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5WLCZXC"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  <link rel="stylesheet" type="text/css" href="//www.eclipse.org/eclipse.org-common/themes/solstice/public/stylesheets/vendor/cookieconsent/cookieconsent.min.css" />
  <script src="//www.eclipse.org/eclipse.org-common/themes/solstice/public/javascript/vendor/cookieconsent/default.min.js"></script>

  <!-- icomoon -->
  <link href="/assets/css/icomoon.css" rel="stylesheet">

  
  <style>
  


p.Body-Text_Body-Text---Justified {
	text-align:justify;
	text-align-last:left;
	widows:2;
}

blockquote {
  font-size: 1em;
}

.bold---brand1, .CharOverride-8 {
  font-weight: 600;
}

.CharOverride-6 {
  font-weight: 600;
  font-style: italic;
}

h3 {
  font-size:20px;
  margin-left: 1em;
  color: #6eb553;
}

h3:before {
    content: "» ";
}
  
.Titles_Headings_Heading5 {
  font-weight: 700;
  font-size: 1.4em;
  list-style: square;
}

.Titles_Headings_Heading5 p, .Titles_Headings_Heading5 ul  {
  font-weight: normal;
  font-size: 14px;
}


  </style>

</head>

<body>
  <header>
    {{ partial "navbar.html" . }}
  </header>
  <main class="main">
    <div class="well">
      <div class="container xpurple">
        <h2><a href="/white-papers" style="color: white; ">White Paper</a><h2>
        <h1>» {{ .Title }}</h1>
         <!-- <p class="lead">
                "{{ .Description | safeHTML }}"
        </p>  -->
      </div>
    </div>


    <section class="second row-fluid" style="padding-bottom: 70px;">
      <div class="container">

        <div class="row">
          <div class="col-md-12">


            {{ if .Content }}

              <a href="{{ .Params.link }}">
                <button class="btn btn-lg btn-danger">
                  <img src="/assets/images/icon_pdf.png"> Download the PDF
                </button>
                </a>


              <p>{{ .Content | safeHTML }}</p>
            {{ end }}


          </div>
        </div>
      </div>
    </section>

    <section class="third row-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-12" style="margin-top: -3em;">
            {{ if .Params.learn_more }}
            <h1 class="purple">Learn More</h1>

            <ul>
            {{ range .Params.learn_more }}
              <li><a href="{{ .link }}" target="_blank">{{ .name }}</a></li>
            {{ end }}
            </ul>
            {{ end }}

          </div>
      </div>
    </section>
  </main>
  {{ partial "footer.html" . }}
  <div id="contact-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contact-label" aria-hidden="true" style="display: none;">
  </div>
  </div>
  <!-- /container -->
  <!-- JS is at the end of the document so the pages load faster -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>

</html>
