{{ define "main" }}
  <style>
  


p.Body-Text_Body-Text---Justified {
  text-align:justify;
  text-align-last:left;
  widows:2;
}

blockquote {
  font-size: 1em;
}

.bold---brand1, .CharOverride-8 {
  font-weight: 600;
}

.CharOverride-6 {
  font-weight: 600;
  font-style: italic;
}

h3 {
  font-size:20px;
  margin-left: 1em;
  color: #6eb553;
}

h3:before {
    content: "» ";
}
  
.Titles_Headings_Heading5 {
  font-weight: 700;
  font-size: 1.4em;
  list-style: square;
}

.Titles_Headings_Heading5 p, .Titles_Headings_Heading5 ul  {
  font-weight: normal;
  font-size: 14px;
}


  </style>
  <main class="main">
    <div class="well">
      <div class="container xpurple">
        <h2><a href="/white-papers" style="color: white; ">White Paper</a><h2>
        <h1>» {{ .Title }}</h1>
         <!-- <p class="lead">
                "{{ .Description | safeHTML }}"
        </p>  -->
      </div>
    </div>


    <section class="second row-fluid" style="padding-bottom: 70px;">
      <div class="container">

        <div class="row">
          <div class="col-md-12">


            {{ if .Content }}

              <a href="{{ .Params.link }}">
                <button class="btn btn-lg btn-danger">
                  <img src="/assets/images/icon_pdf.png"> Download the PDF
                </button>
                </a>


              <p>{{ .Content | safeHTML }}</p>
            {{ end }}


          </div>
        </div>
      </div>
    </section>

    <section class="third row-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-12" style="margin-top: -3em;">
            {{ if .Params.learn_more }}
            <h1 class="purple">Learn More</h1>

            <ul>
            {{ range .Params.learn_more }}
              <li><a href="{{ .link }}" target="_blank">{{ .name }}</a></li>
            {{ end }}
            </ul>
            {{ end }}

          </div>
      </div>
    </section>
  </main>
{{ end }}
