<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <nav>

          <ul class="list-inline menu dropdown">
            <li><a href="/getting-started">Getting Started</a>
            </li>
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Technology</a>
              <ul class="dropdown-menu" role="menu">
                <!--             <li><a href="/iot-architectures">IoT Architectures</a></li>
            <li role="separator" class="divider"></li> -->
                <!--             <li class="dropdown-header">Eclipse IoT for…</li> -->
                <li><a href="/devices">Constrained Devices</a></li>
                <li><a href="/gateways">Gateways &amp; Smart Devices</a></li>
                <li><a href="/cloud">IoT Cloud Platforms</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/standards">Open Standards</a></li>
                <li><a href="/case-studies">Case Studies</a></li>
                <li><a href="/testbeds">Open Testbeds</a></li>
                <li><a href="/projects">Browse the Projects</a>
                </li>
              </ul>
            </li>
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Community</a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="/resources">Resources</a>
                </li>
                <li>
                  <a href="/news">News</a>
                </li>
                <li>
                  <a href="/events">Events</a>
                </li>
                <li>
                  <a href="/open-iot-challenge">Open IoT Challenge</a>
                </li>
                <li>
                  <a href="http://www.meetup.com/Virtual-IoT" target="_blank">Virtual IoT Meetup</a>
                </li>
              </ul>
            </li>
            <li><a href="/working-group">Working Group</a>
            </li>
          </ul>

        </nav>
        <div class="socials">
          <!--             <a href="#" class="social-facebook">&nbsp;</a> -->
          <a href="https://twitter.com/EclipseIoT" class="social-twitter" target="_blank">&nbsp;</a>
          <a href="https://www.youtube.com/playlist?list=PLy7t4z5SYNaRorMpk1txiehpkyeI0JLn-" class="social-youtube" target="_blank">&nbsp;</a>
          <a href="https://www.facebook.com/eclipseiot" class="social-facebook" target="_blank">&nbsp;</a>
          <!--             <a href="#" class="social-share">&nbsp;</a> -->
        </div>
      </div>
      <div class="col-md-6">
        <p class="copyright">Copyright © 2018 The Eclipse Foundation. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
