<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <nav>
          <ul class="list-inline menu dropdown">
            <li><a href="/getting-started">Getting Started</a>
            </li>
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Technology</a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/standards">Standards</a>
                </li>
                <li><a href="/frameworks">Services &amp; Frameworks</a>
                </li>
                <li><a href="/projects">All the projects</a>
                </li>
                <li role="separator" class="divider"></li>
                <li><a href="/case-studies">Case Studies</a>
              </ul>
              </li>
              <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Community</a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/resources">Resources</a>
                  </li>
                  <li><a href="/news">News</a>
                  </li>
                  <li><a href="/events">Events</a>
                  </li>
                </ul>
              </li>
              <li><a href="/working-group">Working Group</a>
              </li>
          </ul>
        </nav>
        <div class="socials">
          <!--             <a href="#" class="social-facebook">&nbsp;</a> -->
          <a href="https://twitter.com/EclipseIoT" class="social-twitter">&nbsp;</a>
          <a href="https://www.youtube.com/playlist?list=PLy7t4z5SYNaRorMpk1txiehpkyeI0JLn-" class="social-youtube">&nbsp;</a>
          <!--             <a href="#" class="social-share">&nbsp;</a> -->
        </div>
      </div>
      <div class="col-md-6">
        <p class="copyright">Copyright © 2016 The Eclipse Foundation. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
