<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img alt="Eclipse IoT" src="/assets/images/iot-logo.png">
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Getting Started</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/getting-started#tutorials">Tutorials</a></li>
            <li><a href="/getting-started#sandboxes">Sandboxes</a></li>
          </ul>
        </li>

        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Technology</a>
          <ul class="dropdown-menu" role="menu">
<!--             <li><a href="/iot-architectures">IoT Architectures</a></li>
            <li role="separator" class="divider"></li> -->
<!--             <li class="dropdown-header">Eclipse IoT for…</li> -->
            <li><a href="/devices">Constrained Devices</a></li>
            <li><a href="/gateways">Gateways &amp; Smart Devices</a></li>
            <li><a href="/cloud">IoT Cloud Platforms</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/standards">Open Standards</a></li>
            <!-- <li><a href="/case-studies">Case Studies</a></li> -->
            <li><a href="/testbeds">Open Testbeds</a></li>
            <li><a href="/projects">Browse the Projects</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources</a>
          <ul class="dropdown-menu" role="menu">
              <li><a href="/white-papers">White Papers</a></li>
              <li><a href="/case-studies">Case Studies</a></li>
              <li><a href="/resources">Articles &amp; Videos</a></li>
          </ul>
        </li>

        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Community</a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="/news">News</a>
            </li>
            <li>
              <a href="/events">Events</a>
            </li>
            <li>
              <a href="/open-iot-challenge">Open IoT Challenge</a>
            </li>
            <li>
              <a href="http://www.meetup.com/Virtual-IoT" target="_blank">Virtual IoT Meetup</a>
            </li>
          </ul>
        </li>
        <li><a href="/working-group">About us</a>
        </li>
<!--         <li style="min-width: 100px; padding-top: 15px; padding-left: 8px;">
          <div class="g-plusone" data-size="medium" data-href="http://iot.eclipse.org"></div>
        </li> -->
        <li style="min-width: 100px; padding-top: 12px; padding-left: 15px; margin-left:-35px">
            <a href="https://twitter.com/eclipseiot?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false"></a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
