{{ define "header" }}
<header class="homepage">
  {{ partial "navbar.html" . }}
  <section class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <h1><span class="green">Open Source</span> for <span class="green">IoT</span></h1>
        <p>Eclipse IoT provides the technology needed to build IoT Devices, Gateways, and Cloud Platforms.</p>
      </div>
      <div class="col-md-4">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="15000">
          <!--             <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol> -->
          <div class="carousel-inner" role="listbox">
            <!--   <div class="item active">
              <a href="/resources/white-papers/Eclipse%20IoT%20White%20Paper%20-%20The%20Three%20Software%20Stacks%20Required%20for%20IoT%20Architectures.pdf" target="_blank"><img src="/images/_home/iot-architectures-whitepaper.png" alt="IoT White Paper"></a>
              </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="header-divider">
    <img src="assets/images/header-divider.png" alt="divider">
  </section>
</header>
{{ end }}

{{ define "main" }}
<main class="main">
  <section class="first">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <div class="row" style="padding-bottom: 25px; padding-top: 10px; ">
            <!-- <div class="col-md-12 first-col" style="text-align: center; padding-bottom:5px;">
              <h2 style="">Open Source Technology for:</h2>
              </div> -->
            <div class="col-md-4 first-col">
              <a href="/devices">
                <div class="row">
                  <div class="col-xs-2 col-md-3">
                    <span class="icon-device" aria-hidden="true"></span>
                  </div>
                  <div class="col-xs-10 col-md-9">
                    <h2>Constrained Devices</h2>
                    <p></p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4 first-col">
              <a href="/gateways">
                <div class="row">
                  <div class="col-xs-2 col-md-3">
                    <span class="icon-gateway" aria-hidden="true"></span>
                  </div>
                  <div class="col-xs-10 col-md-9">
                    <h2>Gateways</h2>
                    <p></p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4 first-col">
              <a href="/cloud">
                <div class="row">
                  <div class="col-xs-2 col-md-3">
                    <span class="icon-cloud" aria-hidden="true" style="line-height: .9em;"></span>
                  </div>
                  <div class="col-xs-10 col-md-9">
                    <h2>Cloud Platforms</h2>
                    <p></p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 first-col">
              <hr style="border-top:2px dotted #bbb; margin-top:-8px; margin-bottom:0;">
              </hr>
            </div>
            <div class="col-md-4 first-col">
              <a href="/standards">
                <div class="row">
                  <div class="col-xs-2 col-md-3">
                    <span class="icon-bulb" aria-hidden="true"></span>
                  </div>
                  <div class="col-xs-10 col-md-9">
                    <h2>Standards</h2>
                    <p>Implementations of IoT standards like MQTT, CoAP, LWM2M and OneM2M</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4 first-col">
              <a href="/testbeds">
                <div class="row">
                  <div class="col-xs-2 col-md-3">
                    <span class="icon-testbed" aria-hidden="true"></span>
                  </div>
                  <div class="col-xs-10 col-md-9">
                    <h2>Open Testbeds</h2>
                    <p>Solutions based on open source &amp; commercial software from our member ecosystem</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4 first-col">
              <a href="/projects">
                <div class="row">
                  <div class="col-xs-2 col-md-3">
                    <span class="icon-embed" aria-hidden="true"></span>
                  </div>
                  <div class="col-xs-10 col-md-9">
                    <h2>All projects</h2>
                    <p>Check out all our IoT open source projects</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <a href="/white-paper-industry-40" >
          <img class="img-responsive center-block" 
            src="/images/_home/industry-40-whitepaper.png"
            style="margin-top: 3em;">
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="second">
    <div class="container">
      <div class="row" style="margin-top:-60px;">
        <div class="col-md-12">
          <h1 class="purple">Community</h1>
        </div>
        <div class="col-md-8">
          <section class="subsection-header latest-news">
            <h2>Latest News<span></span></h2>
            {{ range first 4 (where .Data.Pages.ByDate.Reverse "Section" "news") }}
            <div class="latest-news-item">
              <a href="{{ .Params.link }}">
                <p class="date">/ {{ dateFormat "Jan 2, 2006" .Date }} /</p>
                <h3>{{ .Title }}</h3>
              </a>
              {{ .Content }}
            </div>
            {{ end }}
            <br>
            <p style="text-align: center;">
              <a href="/news" class="btn btn-primary">More News</a>
            </p>
          </section>
          <!-- .latest-news -->
        </div>
        <!-- .col-md-6 -->
        <div class="col-md-4">
          <section class="subsection-header upcoming-events">
            <h2>Stay in touch<span></span></h2>
            <h3 class="purple" id="title-subscribe-newsletter">Subscribe to our newsletter</h3>
            <p style="text-align: center;">
              <a class="btn btn-primary" href="http://eclipse.us6.list-manage.com/subscribe/post?u=eaf9e1f06f194eadc66788a85&amp;id=b952cd0879">Subscribe</a>
            </p>
            <h3 class="purple" id="title-upcoming-events">Upcoming events</h3>
            <div class="row">
              {{ $.Scratch.Set "i" 0 }}
              {{ range last 10 (where .Data.Pages.ByDate "Section" "events") }}
              {{ if and (ge .Date.Unix now.Unix) (lt ($.Scratch.Get "i") 4) }}
              {{ $.Scratch.Add "i" 1 }}
              <div class="col-xs-12 col-sm-6 col-md-12">
                <a href="{{ .Params.link }}" target="_blank">
                  <div class="upcoming-events-item">
                    <h3>
                      <span class="name" itemprop="name">{{ .Title }}</span>
                      <span class="date" itemprop="startDate" content="{{ .Date.Format "2006-01-02" }}">{{ .Params.event_date }}</span>
                    </h3>
                    <p>{{ .Params.location }}</p>
                  </div>
                </a>
              </div>
              {{ end }}
              {{ end }}
            </div>
            <br>
            <p style="text-align: center;">
              <a href="/events" class="btn btn-primary">More Events</a>
            </p>
          </section>
          <!-- .upcoming-events -->
        </div>
        <!-- .col-md-6 -->
        <div class="col-md-12">
          <h1 class="purple">Resources</h1>
        </div>
        <div class="col-md-12">
          <div class="row" id="resources-list" style="padding-top: 1em; padding-bottom: 3em;">
            <div class="col-md-3">
              <a href="/case-studies">
                <div class="row">
                  <div class="col-xs-2 col-md-3">
                    <span class="icon-search" aria-hidden="true"></span>
                  </div>
                  <div class="col-xs-10 col-md-9">
                    <h2>Case Studies</h2>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-3">
              <a href="/white-papers">
                <div class="row">
                  <div class="col-xs-2 col-md-3">
                    <span class="icon-whitepaper" aria-hidden="true"></span>
                  </div>
                  <div class="col-xs-10 col-md-9">
                    <h2>White Papers</h2>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-3">
              <a href="https://mailchi.mp/0516ebbe2707/eclipse-iot-newsletter-jul-2018" target="_blank">
                <div class="row">
                  <div class="col-xs-2 col-md-3">
                    <span class="icon-newsletter" aria-hidden="true"></span>
                  </div>
                  <div class="col-xs-10 col-md-9">
                    <h2>Newsletter</h2>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-3">
              <a href="https://meetup.com/Virtual-IoT" target="_blank">
                <div class="row">
                  <div class="col-xs-2 col-md-3">
                    <span class="icon-meetup" aria-hidden="true"></span>
                  </div>
                  <div class="col-xs-10 col-md-9">
                    <h2>Virtual IoT Meetup</h2>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="third">
    <div class="container">
      <div class="row">
        <div class="col-md-8 logos">
          <div class="row" style="margin-top:-37px;">
            {{ range where ( where .Site.RegularPages.ByTitle  "Section" "member" ) ".Params.is_steering" "==" true }}
            <div class="col-md-4 col-xs-6 sc-member" style="padding:20px 60px; display:none;">
              <div style="height: 120px; line-height: 120px; ">
                <a href="http://eclipse.org/membership/showMember.php?member_id={{ .Params.member_id }}" target="_blank">
                <img src="/assets/images/members/logo-{{ .Params.logo }}.png" class="img-responsive" alt="logo-{{ .Title}}" style="max-height:110px; display:inline-block; vertical-align:middle;">
                </a>
              </div>
            </div>
            {{ end }}
            {{ range where ( where .Site.RegularPages.ByTitle  "Section" "member" ) ".Params.is_steering" "==" false }}
            <div class="col-md-4 col-xs-6 regular-member" style="padding:20px 60px; display:none;">
              <div style="height: 120px; line-height: 120px; ">
                <a href="http://eclipse.org/membership/showMember.php?member_id={{ .Params.member_id }}" target="_blank">
                <img src="/assets/images/members/logo-{{ .Params.logo }}.png" class="img-responsive" alt="logo-{{ .Title}}" style="max-height:110px; display:inline-block; vertical-align:middle;">
                </a>
              </div>
            </div>
            {{ end }}
            <div class="col-md-4 col-xs-6" style="padding:20px 60px;">
              <a id="link-link-more-members" href="/working-group#members">
                <div id="link-more-members" style="font-size: 1.5em; height: 120px; line-height: 1.2em; margin-top: 30px;">
                </div>
              </a>
            </div>
            <!-- <div class="col-md-12">
              <p class="align-center"><a href="/ecosystem.html" class="btn btn-primary">More</a>
              </p>
              </div>
              -->
          </div>
        </div>
        <section class="working-group col-md-4 line-divider-left">
          <h1 class="purple">Working Group</h1>
          <p>The <strong>Eclipse IoT Working Group</strong> is an industry collaboration of companies who invest and promote an open source community for IoT. <a href="/working-group"><strong>Join Us</strong></a>!
          </p>
          <p><a href="/working-group" class="btn btn-primary">Ecosystem</a>
          </p>
        </section>
      </div>
    </div>
  </section>
</main>
{{ end }}

{{ define "footer-suffix" }}
  <script src="js/shuffle.js"></script>
  <script src="js/index.js"></script>
{{ end }}