{{ define "main" }}
<main class="main">
<div class="well">
  <div class="container">
    <h1>
      Events
    </h1>
    <div>
      <p class="lead">Join us at an event near you and learn more about <strong>Eclipse IoT</strong>.</p>
    </div>
  </div>
</div>
<section class="first upcoming-events">
  <div class="container">
    <div class="row">
      {{ range (.Paginator 9).Pages }}
      <div class="col-sm-4">
        <a href="{{ .Params.link }}" target="_blank">
          <div class="upcoming-events-item {{ if (lt .Date.Unix now.Unix) }} past {{ end }}">
            <h3>
              {{ .Title }}<br>
              <span class="date">{{ .Params.event_date }}</span>
            </h3>
            <p>{{ .Params.location }}</p>
          </div>
        </a>
      </div>
      {{ end }}
    </div>
    <div class="row">
      {{ template "_internal/pagination.html" . }}
    </div>
  </div>
</section>
{{ end }}