{{ define "main" }}
<main class="main resources-page">
<div class="well">
  <div class="container">
    <h1>
      Open IoT Challenge Resources
    </h1>
    <div>
      <p class="lead">Read about what the 75+ teams participating to the <a href="/open-iot-challenge">Open IoT Challenge</a> are building.</p>
    </div>
  </div>
</div>
<section class="first">
  <div class="container">
    <div class="row">
      <div class="col-md-12 grid">
        {{ range (.Paginate ( .Data.Pages.ByWeight )).Pages }}
        <div class="grid-item col-md-4" >
          <div class="row" >
            <h3 class="purple col-md-12">{{ .Title }}</h3>
            <div class="col-md-12" style="font-size: 0.9em; text-align: justify; min-height: 12em;">{{ .Content }} </div>
            <a href="{{ .Params.link }}" class="btn btn-default col-md-12" role="button">Read more…</a>
          </div>
        </div>
        {{ end }}
      </div>
      <div class="col-md-12 ">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ define "footer-suffix"}}
<script src="//npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
{{ end }}