{{ define "main" }}
{{ .Content }}
<p class="big" style="font-weight:200;">Learn more about our members and discover the IoT solutions they&nbsp;offer&nbsp;today.</p>
<h2 class="margin-bottom-30">Strategic members</h2>
<div id="sc-members" class="members">
  {{ range sort (where .Site.RegularPages.ByTitle "Section" "membership") ".Title" }}
  {{ if eq .Params.member_type "steering" }}
  <div class="row members-info" id="member-{{ .Params.logo }}">
    <div class="col-md-4 col-md-offset-1 mb-logo margin-top-20">
      <a href="http://eclipse.org/membership/showMember.php?member_id={{ .Params.member_id }}">
        <img src="/membership/members/images/logo-{{ .Params.logo }}.png" alt="{{ .Title }}" class="img-responsive" />
      </a>
    </div>
    <div class="col-md-16 col-md-offset-1 mb-info margin-bottom-50">
      <div class="mb-info-container">
        <h3 id="{{ .Params.logo }}">{{ .Title }} </h3> {{ .Content }}
      </div>
      <div>
        {{ if isset .Params "more_url" }}
        <a href="{{ .Params.more_url }} " target="_blank">
          <button class="btn btn-info btn-sm">Read more <i class="icon-chevron-right"></i></button>
        </a>
        {{ end }}
        {{ if isset .Params "demo_url" }}
        <a href="{{ .Params.demo_url }} " target="_blank">
          <button class="btn btn-info btn-sm">View Demo <i class="icon-eye-open"></i></button>
        </a>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}
</div>
<h2 class="margin-bottom-30 margin-top-60">Participating members</h2>
<div id="participating-members" class="members">
  {{ range sort (where .Site.RegularPages.ByTitle "Section" "membership") ".Title" }}
  {{ if eq .Params.member_type "participating" }}
  <div class="row members-info" id="member-{{ .Params.logo }}" title="{{ .Title }}">
    <div class="col-md-4 col-md-offset-1 mb-logo margin-top-20">
      <a href="http://eclipse.org/membership/showMember.php?member_id={{ .Params.member_id }}">
        <img src="/membership/members/images/logo-{{ .Params.logo }}.png" alt="{{ .Title }}" class="img-responsive" />
      </a>
    </div>
    <div class="col-md-16 col-md-offset-1 mb-info margin-bottom-50">
      <div class="mb-info-container">
        <h3 id="{{ .Params.logo }}">{{ .Title }} </h3> {{ .Content }}
      </div>
      <div>
        {{ if isset .Params "more_url" }}
        <a href="{{ .Params.more_url }} " target="_blank">
          <button class="btn btn-info btn-sm">Read more <i class="icon-chevron-right"></i></button>
        </a>
        {{ end }}
        {{ if isset .Params "demo_url" }}
        <a href="{{ .Params.demo_url }} " target="_blank">
          <button class="btn btn-info btn-sm">View Demo <i class="icon-eye-open"></i></button>
        </a>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}
</div>
<h2 class="purple" style="margin-top: 2em;">Guest members<br /><br /></h2>
<div id="guest-members" class="members">
  {{ range sort (where .Site.RegularPages.ByTitle "Section" "membership") ".Title" }}
  {{ if eq .Params.member_type "guest" }}
  <div class="row members-info" id="member-{{ .Params.logo }}" title="{{ .Title }}">
    <div class="col-md-4 col-md-offset-1 mb-logo margin-top-20">
      <a href="http://eclipse.org/membership/showMember.php?member_id={{ .Params.member_id }}">
        <img src="/membership/members/images/logo-{{ .Params.logo }}.png" alt="{{ .Title }}" class="img-responsive" />
      </a>
    </div>
    <div class="col-md-16 col-md-offset-1 mb-info margin-bottom-50">
      <div class="mb-info-container">
        <h3 id="{{ .Params.logo }}">{{ .Title }} </h3> {{ .Content }}
      </div>
      <div>
        {{ if isset .Params "more_url" }}
        <a href="{{ .Params.more_url }} " target="_blank">
          <button class="btn btn-info">Read more <i class="icon-chevron-right"></i></button>
        </a>
        {{ end }}
        {{ if isset .Params "demo_url" }}
        <a href="{{ .Params.demo_url }} " target="_blank">
          <button class="btn btn-info">View Demo <i class="icon-eye-open"></i></button>
        </a>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}
</div>
{{ end }}