{{ define "main" }}
<main class="main working-group-page">
  <div class="well" font-size="1em">
    <div class="container">
      <h1>
        Join Us
      </h1>
      <div>
        <p class="lead">
          The pace of IoT innovation is faster than ever. Open source has won because no single company can compete
          with the scale and speed of disruptive innovation delivered by collaborative ecosystems.
        </p>

        <p class="lead">
          With nearly 3.9 million lines of code across <a href="/projects">over 35 projects</a>, supported by over 40 of
          the world’s leading IoT
          ecosystem players, Eclipse IoT is the open source center of gravity for IoT.
        </p>

        <p class="lead">
          Join global industry leaders collaborating on an end-to-end IoT architecture!
        </p>

      </div>
    </div>
  </div>
  <section class="first">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <a href="#member-testimonials"><button class="btn btn-info" type="button">Member Testimonials</button></a>
          <a href="#benefits"><button class="btn btn-info" type="button">Membership Benefits</button></a>
          <a href="/membership/members"><button class="btn btn-info" type="button">Explore Members</button></a>
          <a href="https://accounts.eclipse.org/contact/membership/working-group/iot"><button style="width:180px;" class="btn btn-secondary" type="button">Join Eclipse IoT</button></a>
        </div>

        <div class="col-md-12">
          <h1 class="purple">A Proven Track Record</h1>
          <p>
            Here are just some of the reasons why Eclipse IoT is trusted by industry leaders:
            <ul>
              <li>
                Eclipse IoT has been very successful in promoting open IoT projects and attracting new developers and
                users to IoT technologies. Our members gain adoption of their projects, which in turn helps with
                promoting their commercial products.
              </li>
              <li>
                The Eclipse Foundation’s clear, vendor-neutral rules for intellectual property sharing and
                decision-making make it easy to collaborate with other organizations on driving rapid innovation.
              </li>
              <li>
                The Foundation’s legal and intellectual property processes enable members to fully comply with
                antitrust laws and provide members with the legal assurance that they can successfully embed open
                source technology into their commercial products.
              </li>
              <li>
                The Eclipse Development Process is a set of best practices that guide member organizations during the
                creation of open source projects.
              </li>
            </ul>
          </p>
        </div>

        <div class="col-md-12">
          <h1 class="purple" id="member-testimonials">Member Testimonials</h1>

          <div class="row">
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                  <blockquote>
                    “No company can realize the IoT on its own… Within the Eclipse Community, through the contribution
                    of many IoT developers, tools and standards are created on an open platform that many companies can
                    benefit from for their IoT applications.”
                  </blockquote>
                </div>
                <div class="col-md-7 col-md-offset-1">
                  <p>
                    Stefan Ferber <br>
                    CEO, Bosch Software Innovations
                  </p>
                </div>
                <div class="col-md-4">
                  <img class="img-circle pull-rightt" alt="Picture of Stefan Ferber" style="width: 110px; height: 110px;"
                    src="/assets/images/working-group/stefan-ferber.jpg">

                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                  <blockquote>
                    “Finally, DB foresees more open source integrations in the future and looks forward to
                    collaborating within the Eclipse IoT Working Group. Being part of a collaboration like Eclipse IoT
                    is a good opportunity to improve DB’s use of open source technology, and in the long term creates
                    better solutions for DB passengers.”
                  </blockquote>
                </div>
                <div class="col-md-7 col-md-offset-1">
                  <p>
                    Alexander Schmitt <br>
                    Chief Architect, DB-Systel
                  </p>
                </div>
                <div class="col-md-4">
                  <!-- <img class="img-circle pull-rightt" alt="Picture of Alexander Schmitt" style="width: 110px; height: 110px;"
                    src="/assets/images/working-group/alexander-schmitt.jpg" data-holder-rendered="true"> -->
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                  <blockquote>
                    “The Eclipse Foundation [puts] forth great effort to provide open source contributions in the IoT
                    space, which translates to vitality and enthusiasm. This is very important to us.”
                  </blockquote>
                </div>
                <div class="col-md-7 col-md-offset-1">
                  <p>
                    Nicola La Gloria <br>
                    Co-founder and CEO, Kynetics
                  </p>
                </div>
                <div class="col-md-4">
                  <img class="img-circle pull-rightt" alt="Picture of Nicola La Gloria" style="width: 110px; height: 110px;"
                    src="/assets/images/working-group/nicola-la-gloria.png">
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="col-md-12">
          <h1 class="purple" id="benefits">Benefits</h1>
          Members of the Eclipse IoT Working Group take advantage of the following opportunities:
          <ul>
            <li>
              Participate in industry collaborations to develop common open IoT platforms for Industrial IoT, Industry
              4.0, Edge Computing, and more.
            </li>
            <li>
              Play a role in defining Eclipse IoT strategic priorities
            </li>
            <li>
              Gain insights into the Eclipse IoT technology roadmap and direction
            </li>
            <li>
              Benchmark and learn best practices from peers for leveraging open IoT technologies to accelerate product
              development and improve time-to-revenue
            </li>
          </ul>

        </div>

      </div>
    </div>
  </section>
  <!--  section class="second" style="padding-bottom:150px;">
    <div class="container" id="membership-contact">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <h2 class="purple">Join Eclipse IoT</h2>
          <p>To learn more about joining the Eclipse IoT Working Group, please click below to complete a contact form and we will be in touch soon.</p>
          <p><a href="https://accounts.eclipse.org/contact/membership/working-group/iot"><button class="btn btn-secondary" type="button">Fill out Contact Form </button></a></p>
        </div>
      </div>
    </div>
  </section -->
</main>
{{ end }}


{{ define "footer-suffix" }}
<script type="text/javascript">
  $(document).ready(function () {
    // Order members alphabetically (case-insensitive - Hugo only does case-sensitive)
    var $wrapper = $('#other-members');

    $wrapper.find('.members-info').sort(function (a, b) {
      //           console.log(a.getAttribute('title').toLowerCase());
      var s1 = a.getAttribute('title').toLowerCase();
      var s2 = b.getAttribute('title').toLowerCase();

      return s1.localeCompare(s2);
    })
      .appendTo($wrapper);
  });
</script>
{{ end }}