<div class="background-secondary featured-stats row">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8">
        <div class="row">
          <div class="col-sm-10"><span style="padding-top:12px;" class="featured-circle-outline"><i data-feather="zap" stroke-width="1"></i></span></div>
          <div class="col-sm-14">
            <p class="stats-numbers">567</p>
            <p class="stats-text">Projects</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-8">
        <div class="row">
          <div class="col-sm-10"><span style="padding-top:8px;" class="featured-circle-outline"><i data-feather="thumbs-up" stroke-width="1"></i></span></div>
          <div class="col-sm-14">
            <p class="stats-numbers">1,230</p>
            <p class="stats-text">Committers</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-8">
        <div class="row">
          <div class="col-sm-10"><span style="padding-top:10px;" class="featured-circle-outline"><i data-feather="share-2" stroke-width="1"></i></span></div>
          <div class="col-sm-14">
            <p class="stats-numbers">250</p>
            <p class="stats-text">Members</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>