<div class="featured-news row">
  <div class="container">
    <div class="row">
      <div class="col-sm-14">
        <h2 class="margin-bottom-20">News</h2>
        <div id="news-list-container" data-template-id="news-home-template" data-news-count="4" data-publish-target="eclipse_iot">
        </div>
        <p><a href="/news">View More News</a></p>
      </div>
      <div class="col-sm-8 col-sm-offset-2 featured-events text-center">
        <h2 class="margin-bottom-20">Upcoming Events</h2>
        <div id="event-list-container" class="event-timeline" data-template-id="event-short-list" data-upcoming="1" data-count="4" data-publish-target="eclipse_iot">
        </div>
        <p class="margin-top-20"><a href="/events">View All Events</a></p>
      </div>
    </div>
  </div>
</div>