<div class="openiot-challenge">
  <div class="row">
    <div class="col-md-24">
      <h1>Open IoT Challenge 5.0</h1>
      <h2>See you next year!</h2>
      <p><b>March 7, 2019</b></p>
      <p>We regret to announce that the Eclipse Foundation has decided to cancel this years Open IoT Challenge 5.0. The main reason for this move is that unfortunately we did not receive a diverse enough set submissions to hold the meaningful competition we would all like to see.</p>
      <p>We are looking forward to continuing this challenge next year with you and our sponsors: Intel, and CONTACT Software. We intend to bring forward a new and exciting format for this contest in 2020 and we are confident this will drive interest and participation. We also welcome your suggestions to improve the contest.</p> 
      <p>We would like to thank our sponsors and those who have submitted proposals to the IoT Challenge. We look forward to having your participation next year!</p>
      <p>Thanks all for your understanding.</p>
    </div>
  </div>

  <h2>Our Sponsors</h2>
  <p>
    Our sponsors helped making this challenge possible by providing great prizes. If you want to sponsor the next Open IoT Challenge, please <a href="mailto:iot@eclipse.org">email us</a>.<!--  and access to <a href="sponsors#sponsors">special offers</a>. Click on their logos to learn more!-->
  </p>
  <div class="row" style="padding-top:2em; margin-bottom: -8em;">
    <div class="col-md-24">
      <div class="row">
        <div class="col-xs-12 col-sm-8 text-center">
          <img src="/community/open-iot-challenge/images/logo-contact-software.png" alt="Logo of Contact Software" class="img-responsive" style="margin:0 auto;">
        </div>
        <div class="col-xs-12 col-sm-8 text-center">
          <img width="120" src="/community/open-iot-challenge/images/logo-intel.png" alt="Logo of Intel" class="img-responsive" style="margin:0 auto;">
        </div>
        <div class="col-xs-12 col-sm-8 text-center">
          <img src="/assets/images/iot_logo.svg" class="img-responsive" alt="Logo of Eclipse IoT" style="margin:0 auto;">
        </div>
      </div>
    </div>
  </div>

</div>
