<div>
  <div class="anniversary-content-ctn">
    <div class="anniversary-img-ctn">
      <img src="{{ "/assets/images/anniversary-icon.png" | absURL }}" alt="iot 10th anniversary icon" />
    </div>
    <ul class="margin-bottom-0">
      <li><div class="orange-dot margin-15"></div> 2021 IoT & Edge Developer Survey</li>
      <li><div class="orange-dot margin-15"></div> Edge of Things Webinar Series</li>
      <li><div class="orange-dot margin-15"></div> Resources</li>
    </ul>
  </div>

  <div>
      
  </div>
</div>
