<div class="row">
  <div class="container anniversary-container anniversary-resources-ctn">
    <div class="anniversary-img-ctn">
      <img src="{{ "/assets/images/anniversary-icon.png" | absURL }}" alt="iot 10th anniversary icon" />
    </div>
    <ul class="margin-bottom-0 margin-left-10">
      <li>
        <div class="orange-dot margin-15"></div>
        2021 IoT & Edge Developer Survey
      </li>
      <li>
        <div class="orange-dot margin-15"></div>
        Edge of Things Webinar Series
      </li>
      <li>
        <div class="orange-dot margin-15"></div>
        Resources
      </li>
    </ul>
  </div>
</div>

<div class="row grey-row">
  <div class="container anniversary-container anniversary-video-ctn padding-60">
    <div class="anniversary-video">
      <a class="eclipsefdn-video" href="https://www.youtube.com/watch?v=6BsxSJJb6-g"></a>
    </div>
  </div>
</div>

<div class="row">
  <h2 class="text-center">Blog</h2>
  <div class="container anniversary-container anniversary-blog-ctn">
    <div class="blog-item">
      <img src="{{ "/assets/images/iot_alternate_bg-3.jpg" | absURL }}" alt="blogs">
      <p class="blog-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quasi vitae ex reiciendis qui. Consectetur
        ipsa, explicabo harum maiores, porro odio alias ipsam illo dolore quam voluptatibus architecto cupiditate ut!
      </p>
      <p class="blog-date text-center">Date</p>
    </div>
    <div class="blog-item">
      <img src="{{ "/assets/images/iot_alternate_bg-3.jpg" | absURL }}" alt="blogs">
      <p class="blog-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quasi vitae ex reiciendis qui. Consectetur
        ipsa, explicabo harum maiores, porro odio alias ipsam illo dolore quam voluptatibus architecto cupiditate ut!
      </p>
      <p class="blog-date text-center">Date</p>
    </div>
    <div class="blog-item">
      <img src="{{ "/assets/images/iot_alternate_bg-3.jpg" | absURL }}" alt="blogs">
      <p class="blog-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quasi vitae ex reiciendis qui. Consectetur
        ipsa, explicabo harum maiores, porro odio alias ipsam illo dolore quam voluptatibus architecto cupiditate ut!
      </p>
      <p class="blog-date text-center">Date</p>
    </div>
  </div>
</div>
