<div class="row margin-top-30 margin-bottom-25">
  <div class="container">
  <h2 class="anniversary-social-title text-center">Download these and celebrate with us on social media</h2>

    <div class="row">
      <div class="anniversary-container anniversary-resources-ctn">
        <div class="anniversary-img-ctn col-xs-24">
          <div class="anniversary-img-wrapper">
            <img src="{{ "/assets/images/social-media-card-blue.jpg" | absURL }}" alt="Iot 10th anniversary social media card" />
          </div>
          <a href="{{ "/assets/images/social-media-card-blue.jpg" | absURL }}" download >Download</a>
        </div>
        <div class="anniversary-img-ctn col-xs-24">
          <div class="anniversary-img-wrapper">
            <img src="{{ "/assets/images/anniversary-icon.png" | absURL }}" alt="Iot 10th anniversary icon" />
          </div>
          <a href="{{ "/assets/images/anniversary-icon.png" | absURL }}" download >Download</a>
        </div>
        <div class="anniversary-img-ctn col-xs-24">
          <div class="anniversary-img-wrapper">
            <img src="{{ "/assets/images/social-posts.png" | absURL }}" alt="Iot 10th anniversary social post" />
          </div>
          <a target="_blank" href="https://docs.google.com/document/d/1ZQOWPoMv7xGWTyLSU5Hst2mpYYMJL2IkNlDdrlZ6924/edit">Share Social Posts</a>
        </div>
        <div class="anniversary-img-ctn col-xs-24">
          <div class="anniversary-img-wrapper anniversary-img-wrapper-col">
            <img src="{{ "/assets/images/anniversary-email-signature-orange.jpg" | absURL }}" alt="Iot 10th anniversary email signature orange version" />
            <img src="{{ "/assets/images/anniversary-email-signature-blue.jpg" | absURL }}" alt="Iot 10th anniversary email signature blue version" />
          </div>
          <a href="{{ "/assets/images/anniversary-email-signatures.zip" | absURL }}" download >Download</a>
        </div>
      </div>
    </div>
</div>
</div>

<div class="row grey-row">
  <div class="container anniversary-container anniversary-video-ctn padding-top-60 padding-bottom-60">
    <div class="section-home-dt column">
      <div class="anniversary-url-ctn">
        <a href="https://outreach.eclipse.foundation/iot-edge-commercial-survey">2021 IoT Edge developer survey</a>
        <a href="https://www.youtube.com/playlist?list=PLy7t4z5SYNaQmahQY36J4vq2H4wY2s4Pk">Edge of Things Webinar series</a>
        <a href="/community/resources/">Resources</a>
      </div>
    </div>
    <div class="section-home-dt column">
      <div class="anniversary-video">
        <a class="eclipsefdn-video" href="https://www.youtube.com/watch?v=EiIIG-LUFUc"></a>
      </div>
    </div>
  </div>
  <div class="left-background-color"></div>
  <div class="right-background-color"></div>
</div>

<div class="row margin-bottom-30 margin-top-30">
  <h2 class="text-center anniversary-blog-title">Blogs & PR</h2>
  <div class="container anniversary-blog-ctn">
    <div class="row">
      <div class="blog-item col-xs-24 col-sm-8">
        <div>
          <a href="https://blogs.eclipse.org/post/fr%C3%A9d%C3%A9ric-desbiens/eclipse-iot-next-ten-years">
            <img src="{{ "/assets/images/social-media-card-blue.jpg" | absURL }}" alt="blogs">
          </a>
          <a href="https://blogs.eclipse.org/post/fr%C3%A9d%C3%A9ric-desbiens/eclipse-iot-next-ten-years">
            <p class="blog-description">
              If you attended EclipseCon 2021, you probably heard about the 10th anniversary of the Eclipse IoT Working Group. Throughout the end of 2021 and into 2022, we will celebrate this significant milestone together. 
            </p>
          </a>
        </div>
        <p class="blog-date text-center">November 3, 2021</p>
      </div>
      <div class="blog-item col-xs-24 col-sm-8">
        <div>
          <a href="https://newsroom.eclipse.org/news/announcements/eclipse-iot-working-group-celebrates-its-10th-anniversary">
            <img src="{{ "/assets/images/social-media-card-orange.jpg" | absURL }}" alt="Press Release">
          </a>
          <a href="https://newsroom.eclipse.org/news/announcements/eclipse-iot-working-group-celebrates-its-10th-anniversary">
            <p class="blog-description">
              The Eclipse Foundation, one of the world’s largest open source software foundations, today celebrated the 10th  Anniversary of the Eclipse IoT Working Group.
            </p>
          </a>
        </div>
        <p class="blog-date text-center">October 25, 2021</p>
      </div>
      <div class="blog-item col-xs-24 col-sm-8">
        <div>
          <a href="https://blogs.eclipse.org/post/mike-milinkovich/eclipse-iot-10-years-connecting-world-one-device-time? utm_campaign=Eclipse%20IoT%2010th%20Anniversary&utm_content=180995847&utm_medium=social&utm_source=linkedin& hss_channel=lcp-69167198">
            <img src="{{ "/assets/images/social-media-card-blue.jpg" | absURL }}" alt="blogs">
          </a>
          <a href="https://blogs.eclipse.org/post/mike-milinkovich/eclipse-iot-10-years-connecting-world-one-device-time? utm_campaign=Eclipse%20IoT%2010th%20Anniversary&utm_content=180995847&utm_medium=social&utm_source=linkedin& hss_channel=lcp-69167198">
            <p class="blog-description">
              It’s been 10 years since the Eclipse IoT Working Group was first established as the M2M Industry Working Group. I want  to sincerely thank everyone that has helped make Eclipse IoT the leading community for open source IoT technology  innovation and collaboration.
            </p>
          </a>
        </div>
        <p class="blog-date text-center">September 23, 2021</p>
      </div>
    </div>
  </div>
</div>
