{{ define "main" }}
<style>
  blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 0.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D";
  }
  blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  }
  blockquote p {
  display: inline;
  }
</style>
<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script');
    po.type = 'text/javascript';
    po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(po, s);
  })();
</script>
<main class="main">
  <div class="well">
    <div class="container">
      <h1>Case Studies</h1>
      <div class="lead">
        <p>What people from various industries around the world are building with Eclipse IoT Technology</p>
      </div>
    </div>
  </div>
  <section class="first">
    <div class="container">
      <div class="row">
        {{ range where .Site.RegularPages.ByWeight "Section" "case-studies" }} 
        <div class="col-md-6" style="min-height: 350px;">
          <div class="row">
            <div class="col-md-12">
              <h3>{{ .Params.company }} </h3>
            </div>
            <div class="col-md-4" style="padding-bottom: 20px">
              <a href="{{ .Params.link }}">
              <img src="{{ .Params.img }}" class="img-responsive"/>
              </a>
            </div>
            <div class="col-md-8">
              <blockquote>
                {{ .Params.description }}
              </blockquote>
              &nbsp; &nbsp;
              <a href="{{ .Params.link }}">
              <img src="/assets/images/icon_pdf.png"> PDF 
              </a>
              &nbsp; 
              <a href="{{ .URL }}">
              <img src="/assets/images/icon_html.png"> HTML
              </a>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <section class="second">
    <div class="container">
      <h1>Your success story here!</h1>
      <p>Contact us at iot@eclipse.org to get your Eclipse IoT case study featured on our website.</p>
    </div>
  </section>
  <section class="third">
    <div class="container">
    </div>
  </section>
</main>
{{ end }}