{{ define "main" }}
<main class="main">
  <div class="well">
    <div class="container">
      <h1>IoT Services &amp; Frameworks</h1>
      <p class="lead">The IoT Working Group fosters the creation of extensible services and frameworks that enable IoT applications on top of open APIs.</p>
    </div>
  </div>
  <section class="first">
    <div class="container">
      <h1 id="frameworks-vision" class="purple">Vision</h1>
      <div class="row">
        <div class="col-md-12">
          <p>A vast majority of today's IoT solutions are designed in an ad hoc manner. Depending on the business domain and on the targeted platform (OS, H/W capabilities, &hellip;) very different and often incompatible architectures are implemented.</p>
          <p>Eclipse IoT provides building blocks that sit on top of open standards and protocols and provide additional services and frameworks for  device management, wired/wireless communication, vertical solutions like home automation, &hellip;</p>
        </div>
        <!--           <p class="col-md-6">
          <img src="/assets/images/services-and-frameworks.png" class="img-responsive">
          </p> -->
      </div>
    </div>
  </section>
  <section class="second">
    <div class="container">
      <h1 id="Frameworks+for+M2M+Gateways" class="purple">Frameworks for IoT Gateways</h1>
      <p>IoT Gateways help manage the interaction between sensors and actuators, and the enteprise and cloud services. Implementing these types of gateways requires specialized knowledge in communication protocols, device management, software update, and hardware configurations. We believe a better way to build IoT gateways is to use a set of common services that can be reused in IoT applications.</p>
      <p>
        <a href="https://eclipse.org/kura" target="_blank"><strong>Eclipse Kura</strong></a> is a set of Java and OSGi services that are most commonly required for IoT gateways, including I/O services, Data Services, Cloud Services, Networking, etc.
      </p>
    </div>
  </section>
  <section class="third">
    <div class="container">
      <h1 id="Industry+Services" class="purple">Services</h1>
      <p>Building IoT applications for specific industries also requires dedicated services to be available. Providing developers with some of the basic building blocks makes it easier to develop and deploy these types of applications.</p>
      <p>Eclipse IoT currently has the following services:</p>
      <ul>
        <li>The <a href="https://eclipse.org/smarthome"><strong>Eclipse SmartHome</strong></a> project is a framework that allows building smart home solutions that have a strong focus on heterogeneous environments, i.e. solutions that deal with the integration of different protocols or standards. Its purpose is to provide a uniform access to devices and information and to facilitate different kinds of interactions with them. This framework consists of a set of OSGi bundles that can be deployed on an OSGi runtime and which defines OSGi services as extension points.
        </li>
        <li><a href="https://eclipse.org/eclipsescada"><strong>Eclipse NeoSCADA</strong></a> provides a way to connect different industrial devices to a common communication system and post-process as well as visualize the data to operating personnel. It provides a SCADA system that includes a communication service, monitoring system, data archive and data visualization capability</li>
      </ul>
    </div>
  </section>
  <div id="contact-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contact-label" aria-hidden="true" style="display: none;">
  </div>
</main>
{{ end }}
