<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>iot.eclipse.org &mdash; Projects</title>
  <meta name="description" content="iot.eclipse.org is all about getting the IoT and M2M developers involved in what is happening in the different Eclipse projects">
  <meta name="author" content="Eclipse.org">
  <link rel="author" href="humans.txt" />
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
  <!-- Le styles -->
  <link href="/assets/css/bootstrap.css" rel="stylesheet">
  <script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-594061-11', 'auto');
  ga('send', 'pageview');
  </script>
  <!-- icomoon -->
  <link href="/assets/css/icomoon.css" rel="stylesheet">
</head>

<body>
  <header>
    {{ partial "navbar.html" . }}
  </header>
  <main class="main">
    <div class="well">
      <div class="container">
        <h1>Open source stack for IoT Gateways &amp; Smart Devices</h1>
        <p class="lead">kWithin the Eclipse IoT community there are a variety of projects that work to provide the capabilities that an IoT gateway requires. Read on to learn more!</p>
      </div>
    </div>
    <section class="first row-fluid" style="padding-bottom: 70px;">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="purple">IoT Gateway  &amp; Smart Device Stack</h1>
            <p>The IoT gateway acts as the aggregation point for a group of sensors and actuators to coordinate the connectivity of these devices to each other and to an external network. An IoT gateway can be a physical piece of hardware or functionality that is incorporated into a larger “Thing” that is connected to the network. For example, an industrial machine might act like a gateway, and so might a connected automobile or a home automation appliance.</p>
            <div class="row" style="font-size: .5em;">
              <div class="col-md-4 first-col">
                <a href="/devices">
                  <div class="row">
                    <div class="col-xs-2 col-md-3">
                      <span class="icon-device" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-10 col-md-9">
                      <h4>Constrained Devices</h4>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-4 first-col">
                <div class="row">
                  <div class="col-xs-2 col-md-3">
                    <span class="icon-gateway" aria-hidden="true"></span>
                  </div>
                  <div class="col-xs-10 col-md-9">
                    <h4><u>Gateways</u><br>&nbsp;</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 first-col">
                <a href="/cloud">
                  <div class="row">
                    <div class="col-xs-2 col-md-3">
                      <span class="icon-cloud" aria-hidden="true" style="line-height: .9em;"></span>
                    </div>
                    <div class="col-xs-10 col-md-9">
                      <h4>Cloud Platforms</h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-md-offset-1">
            <img src="/images/stacks/gateway.png" class="img-responsive">
          </div>
        </div>
      </div>
    </section>
    <section class="second row-fluid">
      <div class="container">
        <!--         {{ range .Data.Pages }} {{ .Render "project-description"}} {{ end }} -->
        <h1 class="purple">Integrated IoT Gateway and Smart Devices stacks</h1>
        <h2>Eclipse Kura</h2>
        <p><a href="https://eclipse.org/kura" target="_blank">Eclipse Kura</a> provides a general purpose middleware and application container for IoT gateway services. An IoT gateway stack based on Eclipse Kura would include the following</p>
        <ul>
          <li><strong>Operating System</strong> – Linux (Ubuntu/Ubuntu Core, Yocto-based linux distribution), Windows.</li>
          <li><strong>Application Container or Runtime Environment</strong> – <a href="https://eclipse.org/equinox" target="_blank">Eclipse Equinox</a> or <a href="https://eclipse.org/concierge" target="_blank">Eclipse Concierge</a> (OSGi Runtime).</li>
          <li><strong>Communication &amp; Connectivity</strong> – Eclipse Kura includes APIs to interface with the gateway I/Os (e.g. Serial, RS-485, BLE, GPIO, etc.) and support for many field protocols that can be used to connect to devices, e.g MODBUS, CAN bus, etc.</li>
          <li><strong>Network Management</strong> – Eclipse Kura provides advanced networking and routing capabilities over a wide-range of interfaces (cellular, Wi-Fi, Ethernet, etc.).</li>
          <li><strong>Data management &amp; Messaging</strong> – Eclipse Kura implements a native MQTT-based messaging solution, that allows application running on the gateway to transparently communicate with a Cloud Platform, without having to deal with the availability of the network interfaces, or how to represent IoT data. Support for additional messaging protocols is available through the built-in Apache Camel message routing engine.</li>
          <li><strong>Remote management</strong> – Eclipse Kura provides a remote management solution based on the MQTT protocol, that allows to monitor the overall health of an IoT gateway, in addition to control (install, update, modify settings) the software it’s running.</li>
        </ul>

        <h2>Eclipse SmartHome</h2>

        <p><a href="https://eclipse.org/smarthome" target="_blank">Eclipse SmartHome</a> provides an IoT gateway platform that is specifically focused on the home automation domain. An Eclipse SmartHome stack would including the following:</p>
        <ul>
          <li><strong>Operating System</strong> – Linux (Ubuntu/Ubuntu Core, Yocto-based linux distribution), Windows or macOS.</li>
          <li><strong>Application Container or Runtime Environment</strong> – Eclipse Equinox or Eclipse Concierge (OSGi Runtimes).</li>
          <li><strong>Communication &amp; Connectivity</strong> – Eclipse SmartHome brings support for many off-the-shelf home automation devices such as Belkin WeMo, LIFX, Philips Hue, Sonos, etc. Eclipse SmartHome focuses on enabling home automation solutions to communicate within an “Intranet of Things” ; therefore offline capabilities are a paramount design goal.</li>
          <li><strong>Data Management &amp; Messaging</strong> – Eclipse SmartHome has an internal event bus, which can be exposed to external systems through e.g. SSE or MQTT. It furthermore provides mechanisms for persisting values in databases and for running local business logic through a rule engine. </li>
          <li><strong>Remote Management</strong> – Eclipse SmartHome supports device onboarding and configuration through its APIs. It furthermore provides an infrastructure to perform firmware update of connected devices.</li>
        </ul>

        <h2>Eclipse 4diac</h2>

        <p>
          <a href="https://eclipse.org/4diac" target="_blank">Eclipse 4diac</a> provides an industrial-grade open source infrastructure for distributed industrial process measurement and control systems based on the IEC 61499 standard. 4DIAC is ideally suited for Industrie 4.0 and Industrial IoT applications in a manufacturing setting. 
        </p>
        <p>
          The IEC 61499 standard defines a domain specific modeling language for developing distributed industrial control solutions by providing a vendor independent format and for simplifying support for controller to controller communication.
        </p>

        <h1 class="purple">Open source components for IoT Gateways</h1>
        <h2>Application Runtime</h2>
        <h2>Communication</h2>
        <h2>Data Management and Messaging</h2>
        <h2>Remote Management</h2>
      </div>
    </section>
  </main>
  {{ partial "footer.html" . }}
  <div id="contact-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contact-label" aria-hidden="true" style="display: none;">
  </div>
  </div>
  <!-- /container -->
  <!-- JS is at the end of the document so the pages load faster -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
  <script src="js/projects.js"></script>
</body>

</html>
