{{ define "main" }}
<main class="main hardware-page">
  <section class="first">
    <div class="container">
      <div class="row" id="hw-intro">
        <div class="col-md-7 col-md-offset-1">
          <p>Eclipse IoT supports an ecosystem of vendors that can help you find the best platform to run your IoT solution.</p>
          <p>You will find below a list of devices that are particularly suited for running the Eclipse Open IoT Stack.</p>
        </div>
        <div class="col-md-3">
          <img class="img-responsive center-block" src="/assets/images/open-iot-ready.png">
        </div>
      </div>
    </div>
    <div class="container" id="hw-products">
      <div class="row">
        <div class="col-md-12 grid" style="padding-left:0px; padding-right:0px;">
          {{ range where .Site.RegularPages.ByTitle "Section" "hardware" }} 
          <div class="col-md-4 product grid-item">
            <div class="product_img">
              <a href="http://placehold.it/600?text={{ .Title }}" data-lightbox="image-1" data-title="{{ .Title }}">
                <img class="img-responsive center-block" src="http://placehold.it/250?text={{ .Title }}">
                <div class="center-block zoom">
                  <span class="icon-search" aria-hidden="true"></span>
                </div>
                <div class="center-block member_logo {{ .Params.provider }}"></div>
              </a>
            </div>
            <div class="product_name">{{ .Title }}</div>
            <div class="product_desc">{{ .Content }}</div>
            <div class="getting_started">
              Getting started
              <ul>
                <li><a href="#">Datasheet</a></li>
                <li><a href="#">Tutorial</a></li>
              </ul>
            </div>
            <div class="product_compat_list">
              Compatible with
              <ul>
                {{ range .Params.compatible_with }}
                <li class="{{ . }}">{{ . }}</li>
                {{ end }}
              </ul>
            </div>
            <a href="#">
            <button class="product_buyit btn btn-info XXXcenter-block">Buy it</button>
            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
</main>
{{ end }}
{{ define "footer-suffix" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.1/js/lightbox.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.1/css/lightbox.min.css" rel="stylesheet">
<!-- JS is at the end of the document so the pages load faster -->
<script type="text/javascript">
  jQuery.fn.visible = function() {
      return this.css('visibility', 'visible');
  };
  
  jQuery.fn.invisible = function() {
      return this.css('visibility', 'hidden');
  };
  
  jQuery.fn.visibilityToggle = function() {
      return this.css('visibility', function(i, visibility) {
          return (visibility == 'visible') ? 'hidden' : 'visible';
      });
  };
  
  $(document).ready(function() {
    // Order members alphabetically (case-insensitive - Hugo only does case-sensitive)
    var $wrapper = $('#other-members');
  
    $wrapper.find('.members-info').sort(function (a, b) {
  //           console.log(a.getAttribute('title').toLowerCase());
         var s1 = a.getAttribute('title').toLowerCase();
         var s2 = b.getAttribute('title').toLowerCase();
  
        return s1.localeCompare(s2);
    })
    .appendTo( $wrapper );
  
    $('.product_img').hover(function() {
      $(this).find('.zoom').visibilityToggle();
    });
  
    window.setTimeout(function() {
      $('.grid').masonry({
        // options
        itemSelector: '.grid-item',
        itemSelector: '.grid-item'
      });
    }, 200);
  
  });
</script>
{{ end }}