{{ define "main" }}
  <main class="main testbeds-page">
    <div class="well">
      <div class="container">
        <h1>Eclipse IoT Open Testbeds</h1>
        <p class="lead">
          Industry leaders are <strong>deploying Eclipse IoT technology today</strong>!<br/>
          Check out testbeds that are currently built by our community and vendor ecosystem.
        </p>
      </div>
    </div>
    <section class="first row-fluid" style="padding-bottom: 70px;">
      <div class="container">
        <div class="row">
          <p style="font-size: 16px;">The Eclipse IoT Open Testbeds are collaborations between vendors and open source communities to demonstrate and test 
          commercial and open source components needed to create specific industry solutions.<br><br><br><br></p>
        </div>
      </div>
    </section>
    <section class="second row-fluid">
      <div class="container" style="margin-bottom: 5em;">
        <div class="row">
          {{ range .Data.Pages }}
          <div class="col-md-4 testbed-thumbnail">
            <a href="{{ .Permalink }}">
              <div class="testbed-thumbnail-box" id="{{ .File.TranslationBaseName }}" style="background-image: url(/assets/images/testbeds/{{.File.TranslationBaseName}}-banner.jpg); background-blend-mode: soft-light; background-size: cover;">
                <h3>{{ .Title }}</h3>
              </div>
            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </section>
  </main>
{{ end }}