<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>iot.eclipse.org &mdash; Working Group</title>
  <meta name="description" content="iot.eclipse.org is all about getting the M2M developers involved in what is happening in the different Eclipse projects">
  <meta name="author" content="Eclipse.org">
  <link rel="author" href="humans.txt" />
  <!-- Bootstrap -->
  <link href="/assets/css/bootstrap.css" rel="stylesheet">
  <!-- icomoon -->
  <link href="/assets/css/icomoon.css" rel="stylesheet"> 

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  
  {{ "<!--[if lt IE 9]>" | safeHTML }}
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  {{ "<![endif]-->" | safeHTML }}
  <script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-594061-11', 'auto');
  ga('send', 'pageview');
  </script>
</head>

<body>
  <header>
    {{ partial "navbar.html" . }}
  </header>
  <!-- Place this tag after the last +1 button tag. -->
  <script type="text/javascript">
  (function() {
    var po = document.createElement('script');
    po.type = 'text/javascript';
    po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(po, s);
  })();
  </script>
  <main class="main">
    <div class="well">
      <div class="container">
        <h1>
          About Us
        </h1>
        <div>
          <p class="lead">The Eclipse IoT Working Group is a collaboration between organizations and individuals who share the goal of creating an open IoT. The collaboration focuses on the development, promotion and adoption of open source IoT technology. Many of our members provide a wide range of projects and services built on top of Eclipse IoT technology.</p>
        </div>
      </div>
    </div>
    <section class="first">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="purple">Membership benefits</h1>
            <ul>
              <li>
                <p>Members can participate in the working group meetings, including technical and requirements discussions.</p>
              </li>
              <li>
                <p>Members can participate in developer outreach programs, including webinars, surveys and events.</p>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <h1 class="purple">More information</h1>
            <p>More information about the IoT WG is available on our <a href="https://wiki.eclipse.org/IoT" target="_blank">wiki page</a> and feel free to join our <a href="https://dev.eclipse.org/mailman/listinfo/iot-wg" target="_blank">mailing list</a>. <br>
             You can also <a href='mailto&#58;%69ot&#64;&#101;%&#54;3lipse&#46;%6F&#37;72&#103;'>email us</a> if you have questions.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="second">
      <div class="container">
        <p>Explore our current members and discover the IoT solutions they offer today
        </p>
        <h2 class="purple">Steering committee members<br/><br/></h2>
        <div id="sc-members">
          {{ range where .Site.RegularPages.ByTitle ".Section" "member" }} 
          {{ if .Params.is_steering }}
          <div class="row members-info" id="member-{{ .Params.logo }}">
            <div class="col-md-2 col-md-offset-1 mb-logo">
              <a href="http://eclipse.org/membership/showMember.php?member_id={{ .Params.member_id }}">
                <img src="/assets/images/members/logo-{{ .Params.logo }}.png" alt="{{ .Title }}" class="img-responsive" />
              </a>
            </div>
            <div class="col-md-8 col-md-offset-1 mb-info">
              <div class="mb-info-container">
                <h2>{{ .Title }} </h2> {{ .Content }}
              </div>
              <div>
                {{ if isset .Params "more_url" }}
                <a href="{{ .Params.more_url }} " target="_blank">
                  <button class="btn btn-info">Read more <i class="icon-chevron-right"></i></button>
                </a>
                {{ end }} 
                {{ if isset .Params "demo_url" }}
                <a href="{{ .Params.demo_url }} " target="_blank">
                  <button class="btn btn-info">View Demo <i class="icon-eye-open"></i></button>
                </a>
                {{ end }}
              </div>
            </div>
          </div>
          {{ end }} 
          {{ end }}
        </div>
        <h2 class="purple" style="margin-top: 2em;">Participating members<br/><br/></h2>
        <div id="other-members">
          {{ range where .Site.RegularPages.ByTitle ".Section" "member" }} 
          {{ if not .Params.is_steering }}
          <div class="row members-info" id="member-{{ .Params.logo }}" title="{{ .Title }}">
            <div class="col-md-2 col-md-offset-1 mb-logo">
              <a href="http://eclipse.org/membership/showMember.php?member_id={{ .Params.member_id }}">
                <img src="/assets/images/members/logo-{{ .Params.logo }}.png" alt="{{ .Title }}" class="img-responsive" />
              </a>
            </div>
            <div class="col-md-8 col-md-offset-1 mb-info">
              <div class="mb-info-container">
                <h2>{{ .Title }} </h2> {{ .Content }}
              </div>
              <div>
                {{ if isset .Params "more_url" }}
                <a href="{{ .Params.more_url }} " target="_blank">
                  <button class="btn btn-info">Read more <i class="icon-chevron-right"></i></button>
                </a>
                {{ end }} 
                {{ if isset .Params "demo_url" }}
                <a href="{{ .Params.demo_url }} " target="_blank">
                  <button class="btn btn-info">View Demo <i class="icon-eye-open"></i></button>
                </a>
                {{ end }}
              </div>
            </div>
          </div>
          {{ end }} 
          {{ end }}
        </div>
      </div>
    </section>
  </main>


  {{ partial "footer.html" . }}

  <div id="contact-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contact-label" aria-hidden="true" style="display: none;">
  </div>
  </div>
  <!-- /container -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <!-- JS is at the end of the document so the pages load faster -->
  <script type="text/javascript">
  $(document).ready(function() {
    // Order members alphabetically (case-insensitive - Hugo only does case-sensitive)
    var $wrapper = $('#other-members');

    $wrapper.find('.members-info').sort(function(a, b) {
        //           console.log(a.getAttribute('title').toLowerCase());
        var s1 = a.getAttribute('title').toLowerCase();
        var s2 = b.getAttribute('title').toLowerCase();

        return s1.localeCompare(s2);
      })
      .appendTo($wrapper);
  });
  </script>
</body>

</html>
