{{ define "main" }}
<main class="main">
  <div class="well">
    <div class="container">
      <h1>
        Join Us
      </h1>
      <div>
        <p class="lead">
          The pace of IoT innovation is faster than ever. Open source has won because no single company can compete
          with the scale and speed of disruptive innovation delivered by collaborative ecosystems. The Eclipse IoT
          Working Group provides a forum for individuals and organizations to build and promote the open source
          software, standards, and collaboration models needed to create a scalable open Internet of Things.
        </p>
        <p class="lead">
          With nearly 3 million lines of code across over 35 projects, supported by over 40 of the world’s leading
          IoT ecosystem players, Eclipse IoT is the open source center of gravity for IoT.</p>
        <p>Join your industry peers
          to shape the open IoT ecosystem!</p>
        </p>
      </div>
    </div>
  </div>
  <section class="first">
    <div class="container">
      <div class="row">

          <div class="col-md-12">
              <a href="#member-testimonials" ><button class="btn btn-info" type="button">Member Testimonials</button></a>
              <a href="#benefits" ><button class="btn btn-info" type="button">Membership Benefits</button></a>
              <a href="#members" ><button class="btn btn-info" type="button">Explore Membershi[p</button></a>
          </div>

        <div class="col-md-12">
          <h1 class="purple">A Proven Track Record</h1>
          <p>
            Here are just some of the reasons why Eclipse IoT is trusted by industry leaders:
            <ul>
              <li>
                Eclipse IoT has been very successful in promoting open IoT projects and attracting new developers and
                users to IoT technologies. Our members gain adoption of their projects, which in turn helps with
                promoting their commercial products.
              </li>
              <li>
                The Eclipse Foundation’s clear, vendor-neutral rules for intellectual property sharing and
                decision-making make it easy to collaborate with other organizations on driving rapid innovation.
              </li>
              <li>
                The Foundation’s legal and intellectual property processes enable members to fully comply with
                antitrust laws and provide members with the legal assurance that they can successfully embed open
                source technology into their commercial products.
              </li>
              <li>
                The Eclipse Development Process is a set of best practices that guide member organizations during the
                creation of open source projects.
              </li>
            </ul>
          </p>
        </div>

        <div class="col-md-12">
          <h1 class="purple" id="member-testimonials">Member Testimonials</h1>
          <blockquote>
            “We have accomplished so much since we began our open source strategy at Bosch. Open source development has
            enabled us to transform how we build software internally and it is making our organization a better product
            company. Any company that is serious about IoT should consider an “open source first” strategy. If you are
            planning to do open source IoT, then Eclipse IoT is THE community we recommend.”
          </blockquote>
          <p>
            Caroline Buck
            Product Owner of the Bosch IoT Suite, Bosch Software Innovation
          </p>


          <blockquote>
            “The Eclipse Foundation [puts] forth great effort to provide open source contributions in the IoT space,
            which translates to vitality and enthusiasm. This is very important to us”
          </blockquote>

          <p>
            Nicola La Gloria
            Co-founder and CEO, Kynetics
          </p>

          <blockquote>
            “No company can realize the IoT on its own… Within the Eclipse Community, through the contribution of many
            IoT developers, tools and standards are created on an open platform that many companies can benefit from
            for their IoT applications.”
          </blockquote>
          <p>
            Stefan Ferber
            CEO, Bosch Software Innovations
          </p>


          <blockquote>
            “Finally, DB foresees more open source integrations in the future and looks forward to collaborating within
            the Eclipse IoT Working Group. Being part of a collaboration like Eclipse IoT is a good opportunity to
            improve DB’s use of open source technology, and in the long term creates better solutions for DB
            passengers.”
          </blockquote>

          <p>
            Alexander Schmitt
            Chief Architect, DB-Systel (Deutsche Bahn)
          </p>

          <blockquote>
            “We wanted a SCADA system we could use with access to some of the developers, which gives us the
            flexibility to adjust the system to our needs and grow over time. <br />
            We went with Eclipse NeoSCADA because it gave us a ready-made control system as an open source product.”
          </blockquote>

          <p>
            Doug Taylor
            Head of Process IT, E.ON Connecting Energies
          </p>
        </div>

        <div class="col-md-12">
          <h1 class="purple" id="benefits">Membership Benefits</h1>
          Members of the Eclipse IoT Working Group take advantage of the following opportunities:
          <ul>
            <li>Participate in industry collaborations to develop common open IoT platforms for Industrial IoT,
              Industry 4.0, Smart Home, Edge Computing, and more.</li>
            <li>Play a role in defining Eclipse IoT strategic priorities</li>
            <li>Gain insights into the Eclipse IoT technology roadmap and direction</li>
            <li>Ensure a valuable career path for IoT developers and experts</li>
            <li>Benchmark and learn best practices from peers for leveraging open IoT technologies to accelerate
              product development and improve time-to-revenue</li>
            <li>Promote commercial support and services they may provide for Eclipse IoT technologies</li>
            <li>Promote the value of open IoT ecosystems through testbeds</li>
            <li>Promote IoT cloud interoperability through open standards (e.g. OneM2M)</li>
            <li>Partner with Eclipse IoT member companies on IoT research projects</li>
          </ul>

          As an Eclipse IoT member, you also gain access to the following Eclipse community benefits:

          <ul>
            <li>
              Marketing programs that target the Eclipse developer community, including advertising on iot.eclipse.org,
              preferential listing on Eclipse Marketplace, exposure for commercial products on Eclipse Marketplace
              Client, organizing Eclipse Demo Camps, plus other programs.
            </li>
            <li>
              Discounts on sponsorship and registration fees for Eclipse Foundation events, including EclipseCon
              Europe.
            </li>
            <li>
              Networking opportunities with other member organizations through Foundation run events and one-on-one
              introductions by Foundation staff.
            </li>
            <li>
              The ability to use the Eclipse Foundation member logo on your own site and have your logo listed on our
              members’ page and in other promotional material.
            </li>

          </ul>

        </div>

      </div>
    </div>
  </section>
  <section class="second">
    <div class="container" id="members">
      <p>Learn more about our members and discover the IoT solutions they offer today.
      </p>
      <h2 class="purple">Steering committee members<br /><br /></h2>
      <div id="sc-members">
        {{ range where .Site.RegularPages.ByTitle "Section" "member" }}
        {{ if .Params.is_steering }}
        <div class="row members-info" id="member-{{ .Params.logo }}">
          <div class="col-md-2 col-md-offset-1 mb-logo">
            <a href="http://eclipse.org/membership/showMember.php?member_id={{ .Params.member_id }}">
              <img src="/assets/images/members/logo-{{ .Params.logo }}.png" alt="{{ .Title }}" class="img-responsive" />
            </a>
          </div>
          <div class="col-md-8 col-md-offset-1 mb-info">
            <div class="mb-info-container">
              <h2 id="{{ .Params.logo }}">{{ .Title }} </h2> {{ .Content }}
            </div>
            <div>
              {{ if isset .Params "more_url" }}
              <a href="{{ .Params.more_url }} " target="_blank">
                <button class="btn btn-info">Read more <i class="icon-chevron-right"></i></button>
              </a>
              {{ end }}
              {{ if isset .Params "demo_url" }}
              <a href="{{ .Params.demo_url }} " target="_blank">
                <button class="btn btn-info">View Demo <i class="icon-eye-open"></i></button>
              </a>
              {{ end }}
            </div>
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>
      <h2 class="purple" style="margin-top: 2em;">Participating members<br /><br /></h2>
      <div id="other-members">
        {{ range where .Site.RegularPages.ByTitle "Section" "member" }}
        {{ if not .Params.is_steering }}
        <div class="row members-info" id="member-{{ .Params.logo }}" title="{{ .Title }}">
          <div class="col-md-2 col-md-offset-1 mb-logo">
            <a href="http://eclipse.org/membership/showMember.php?member_id={{ .Params.member_id }}">
              <img src="/assets/images/members/logo-{{ .Params.logo }}.png" alt="{{ .Title }}" class="img-responsive" />
            </a>
          </div>
          <div class="col-md-8 col-md-offset-1 mb-info">
            <div class="mb-info-container">
              <h2 id="{{ .Params.logo }}">{{ .Title }} </h2> {{ .Content }}
            </div>
            <div>
              {{ if isset .Params "more_url" }}
              <a href="{{ .Params.more_url }} " target="_blank">
                <button class="btn btn-info">Read more <i class="icon-chevron-right"></i></button>
              </a>
              {{ end }}
              {{ if isset .Params "demo_url" }}
              <a href="{{ .Params.demo_url }} " target="_blank">
                <button class="btn btn-info">View Demo <i class="icon-eye-open"></i></button>
              </a>
              {{ end }}
            </div>
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </section>
</main>
{{ end }}


{{ define "footer-suffix" }}
<script type="text/javascript">
  $(document).ready(function () {
    // Order members alphabetically (case-insensitive - Hugo only does case-sensitive)
    var $wrapper = $('#other-members');

    $wrapper.find('.members-info').sort(function (a, b) {
      //           console.log(a.getAttribute('title').toLowerCase());
      var s1 = a.getAttribute('title').toLowerCase();
      var s2 = b.getAttribute('title').toLowerCase();

      return s1.localeCompare(s2);
    })
      .appendTo($wrapper);
  });
</script>
{{ end }}