<h2 class="purple" id="benefits">Benefits</h2>
<p>Members of the Eclipse IoT Working Group take advantage of the following opportunities:</p>
<ul>
  <li>
    Participate in industry collaborations to develop common open IoT platforms for Industrial IoT, Industry
    4.0, Edge Computing, and more.
  </li>
  <li>
    Play a role in defining Eclipse IoT strategic priorities
  </li>
  <li>
    Gain insights into the Eclipse IoT technology roadmap and direction
  </li>
  <li>
    Benchmark and learn best practices from peers for leveraging open IoT technologies to accelerate product
    development and improve time-to-revenue
  </li>
</ul>