
<p>The pace of IoT innovation is faster than
  ever. Open source has won because no single company can compete
  with the scale and speed of disruptive innovation delivered by
  collaborative ecosystems.</p>
<p>
  With nearly 3.9 million lines of code across <a href="/projects">over
    35 projects</a>, supported by over 40 of the world's leading IoT
  ecosystem players, Eclipse IoT is the open source center of
  gravity for IoT.
</p>
<p>Join global industry leaders collaborating on
  an end-to-end IoT architecture!</p>
<h2>A Proven Track Record</h2>
<p>Here are just some of the reasons why Eclipse IoT is trusted by industry leaders:</p>
<ul>
  <li>
    Eclipse IoT has been very successful in promoting open IoT projects and attracting new developers and
    users to IoT technologies. Our members gain adoption of their projects, which in turn helps with
    promoting their commercial products.
  </li>
  <li>
    The Eclipse Foundation’s clear, vendor-neutral rules for intellectual property sharing and
    decision-making make it easy to collaborate with other organizations on driving rapid innovation.
  </li>
  <li>
    The Foundation’s legal and intellectual property processes enable members to fully comply with
    antitrust laws and provide members with the legal assurance that they can successfully embed open
    source technology into their commercial products.
  </li>
  <li>
    The Eclipse Development Process is a set of best practices that guide member organizations during the
    creation of open source projects.
  </li>
</ul>


