body, p, li, h1, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif;
}
body {
    background: #fff;
}
a {
    transition: color 0.3s ease;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

p, li {
    color: #747474;
}
.panel {
    border: 1px solid #bfbfbf;
    padding: 20px;
    position: relative;
}

.header {
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding: 40px 0;
    padding-bottom: 10px !important;
    font-size: 2em;
    color: #fff;
}

.header a.fa {
    color: #fff;
    font-size: 27px;
}

.header hr {
    margin: 10px 0;
}

.blurb {
    text-align: center;
    background-color: #fff;
    padding: 80px 0;
}
.blurb .container {
    padding-top: 0;
}
.blurb .row {
    margin-bottom: 0;
}
.blurb p {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
}
.blurb p:first-child {
    margin-bottom: 40px;
}
.tech {
    background-image: url(../images/tech-bg.jpg);
    background-position: top center;
    background-color: #f2f2f3;
    background-repeat: no-repeat;
    text-align: center;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}
.tech h2 {
    border: none;
    padding-top: 40px;
    font-weight: 300;
}

.tech .container {
    padding-top: 0;
}
.tech p, .tech li {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
}
.tech hr {
    margin: 10px 0;
    border-color: #acacac;
}
.tech .tech-bullets p {
    text-align: left;
    font-size: 16px;
    margin-left: 10px;
    border-left: 1px solid #494949;
    padding-left: 10px;
    max-width: 280px;
}



.tech .tech-plus .row {
    margin-bottom: 0;
}
.tech .tech-plus {
    margin-bottom: -1px;
}
.tech .tech-expanded {
    text-align: left;
    display: block;
}
.tech .tech-expanded h2 {
    padding-top: 0;
}
.tech .tech-expanded img {
    margin-bottom: 40px;
    margin-top: 40px;
}
.tech .tech-expanded .panel h2 {
    background-color: #952788;
    position: absolute;
    padding: 50px 30px 10px;
    top: -41px;
    color: #fff;
}
.tech .tech-expanded .panel h2 span {
    width: 0;
    height: 0;
    border-bottom: 30px solid #621259;
    border-right: 15px solid transparent;
    position: absolute;
    top: 0;
    right: -15px;
    display: block;
}
.tech .tech-expanded .panel ul {
    margin-top: 80px;
}
.tech .tech-activate {
    cursor: pointer;
}

.tech #timeline {
    font-size: 18px;
    font-weight: 300;
}

.tech #timeline td:first-child {
    font-weight: 700;
    font-size: 13px;
    padding-right: .3em;
}

.tech #timeline td:last-child:before {
  content: '/ ';
  color: #6eb553;
}

.tech #keyfacts span.icon {
    color: #6eb553;
    font-size: 6em;
    padding-top: 24px;
    padding-bottom: 16px;
    display: block;
    opacity: 0.7;
}

.tech .fact-highlight {
    font-size:3em; 
    padding-bottom:0px; 
    margin-top:-6px; 
    color:#6a2260; 
    font-weight:700;
}

.contest {
    background-color: #fff;
    padding-bottom: 80px;
}
.contest .row {} .contest .bubbles .row {
    margin-bottom: 0;
}
.contest .bubbles {
    margin-top: 80px;
}
.contest h2, .contest p {
    text-align: center;
}
.contest p {
    font-size: 20px
}
.contest h2 {
    border: none;
    font-weight: 300;
}
.contest h2 strong {
    color: #6eb553;
}
.contest hr {
    border-color: #747474;
    margin: 10px 0;
}
.contest .panel {
    border: none;
    background-color: #eceded;
}
.contest .panel p {
    text-align: left;
    font-size: 16px;
    font-weight: 300;
}
.contest .panel p strong {
    text-transform: uppercase;
}
.contest .panel span.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #eceded;
    border-bottom: 10px solid transparent;
    display: block;
    position: absolute;
    top: 43%;
    right: -10px;
}
.contest .panel span.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #eceded;
    border-bottom: 10px solid transparent;
    display: block;
    position: absolute;
    top: 43%;
    left: -10px;
}
.contest .span2 {
    text-align: center;
}
.contest img {
    text-align: center;
}

.sponsors {
    background-color: #fff;
    border-top: 1px solid #d7d7d7;
    text-align: center;
    padding-bottom: 80px;
}

.sponsor {
    margin-top: 1em;
    margin-bottom: 1em;

    padding-top: 50px;
    min-height: 100px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);           
}

.sponsor img {
    margin: 0 auto;
}

.sponsor-details li {
    font-size: 20px;
    font-weight: 300;
}

.list-inline {
    display: block;
    position: relative;
    left: 0;
    float: left;
    margin: 0 10px 0 0;
    list-style: none;
}
.list-inline li {
    float: left;
    list-style: none;
    margin-left: 0em!important;
    margin-right: 1em;
}
button {
    color: #ffffff;
    background-color: #6eb553;
    border: none;
    padding: 10px 20px;
    margin: 20px 0;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #5C9704;
}
.footer {
    background-color: #1d1d1d;
    background-image: url('../images/footer-bg.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    color: #d6d6d6;
    font-weight: 300;
    min-height: 525px;
}
.footer ul {
    list-style: none;
    margin-bottom: 20px;
}
.footer ul li {
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footer ul li a {
    color: #d6d6d6;
}
.footer ul li a:hover {
    color: #838383;
}
.footer p {
    font-style: italic;
}
.twitter-header .icon {
    background-color: #434343;
    padding: 12px;
    font-size: 28px;
    max-height: 46px;
    margin-right: 20px;
}
.twitter-header h2 {
    background-color: #6eb553;
    padding: 10px;
    color: #fff;
    font-size: 24px;
    border: none;
    max-height: 46px;
    margin-bottom: 0;
}
#twitter ul, #twitter ul li {
    margin-left: 0!important;
}
#twitter ul {
    border: 1px solid #252525;
    padding: 20px;
}
#twitter ul li {
    margin-bottom: 20px;
}
#twitter ul li:last-child {
    margin-bottom: 0;
}
#twitter ul li > a {
    float: left;
    display: block;
    margin-right: 20px;
    width: 10%;
}
#twitter ul li > a img {
    width: 35px;
    margin-top: 5px;
}
#twitter ul li:before, #twitter ul li:after {
    display: table;
    line-height: 0;
    content: "";
}
#twitter ul li:after {
    clear: both;
}
#twitter ul li .tweets_txt {
    float: left;
    width: 75%;
    text-transform: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear:before, .clear:after {
    content: " ";
    display: table;
    box-sizing: border-box;
}
.clear:after {
    clear: both;
}
.container ul li {
    margin-left: .7em;
}

.openiot-challenge h2 {
    font-size: 38px;
    color: #26102b;
    text-shadow: 0 1px 1px #8487b8;
}

.openiot-challenge #timing {
    padding-left: 0em;
}

.openiot-challenge #timing li {
    list-style: none;
}

.openiot-challenge #timing u {
    border-bottom: 1px dotted #8487b8;
    text-decoration: none;
}


.openiot-challenge #timing li:before {
    content: '➜ ';
    color: #6eb553;
    font-weight: 700;
}

