body, p, li, h1, h2, h3, h4, h5 {
    /*    font-family: 'Montserrat', sans-serif;
*/
}
a {
    transition: color 0.3s ease;
}
.header {
    background-image: url(../images/header-bg.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding: 40px 0;
}
.header h1, .header p {
    font-weight: 300;
}
.header h1 {
    color: white;
    text-transform: uppercase;
    font-size: 60px;
    margin: 40px 0 20px;
}
.header p {
    color: #dee8ef !important;
    font-size: 27px;
    line-height: 1.4;
    font-weight: 300;
}
.list-inline {
    display: block;
    position: relative;
    left: 0;
    float: left;
    margin: 0 10px 0 0;
    list-style: none;
}
.list-inline li {
    float: left;
    list-style: none;
}
button {
    font-family: 'Sanchez', serif;
    color: #ffffff;
    background-color: #75b01e;
    border-radius: 3px;
    border: none;
    padding: 10px 20px;
    margin: 20px 0;
    box-shadow: -3px 3px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #5C9704;
}
button i.fa {
    /*font-size: 18px;
    margin: 0 0 0 5px;*/
}
.icons-1, .icons-2 {
    text-align: center;
    padding-top: 80px;
}
.icons-1 {
    background-color: #f4f3f3;
    width: 100%;
}
.icons-2 {
    background-color: #fff;
    width: 100%;
}
.icons-1 h2, .icons-2 h2 {
    text-transform: uppercase;
    font-weight: 300;
    color: #474646;
    border: none;
    margin-top: 40px;
}
.icons-1 p, .icons-2 p {
    font-weight: 300;
    color: #474646;
    font-size: 21px;
    line-height: 1.4;
}
.discover {
    background-image: url('../images/discover-bg.png');
    background-position: top center;
    background-size: cover;
    padding: 40px 0;
    text-align: center;
}
.discover h2 {
    text-transform: uppercase;
    font-size: 60px;
    color: #dee8ef;
    font-weight: 300;
    border: none;
}
.discover p {
    font-size: 21px;
    line-height: 1.4;
    color: #dee8ef !important;
    font-weight: 300;
}
.logos {
    background: #f4f3f3;
    padding: 0px 0 40px;
}
.footer {
    background-image: url('../images/footer-bg.png');
    background-position: top center;
    background-size: cover;
    color: #d6d6d6;
    font-weight: 300;
}
.footer ul {
    list-style: none
}
.footer ul li {
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footer ul li a {
    color: #d6d6d6;
}
.footer ul li a:hover {
    color: #838383;
}
.footer p {
    text-transform: uppercase;
    font-style: italic;
}
.left {
    float: left;
}
.right {
    float: right;
}
/** added Benjamin **/

#members {
    text-align: center;
}
#members img {
    margin: 1.5em 2em;
}
.container ul li {
    margin-left: 0.8em;
}
@media (max-width: 960px) {
    body {
        padding-right: 0px;
        padding-left: 0px;
    }
    .header h1 {
        font-size: 48px;
    }
}
